<!-- Sayfa Başlığı -->
<div id="sayfa-baslik" style="position:relative">
  <div class="container-fluid m-l-230">
    <div class="row">
      <!-- Page Header -->
      <div class="page-head-title">
        <h2>Hesap Düzenle</h2>
      </div>
      <!-- Page Header -->
      <!-- Breadcumb -->
      <ol class="breadcrumb breadcumb-title">
        <li><a href="#">Anasayfa</a></li>
        <li><a href="#">Hesaplar</a></li>
        <li class="active">Düzenle</li>
      </ol>
      <!-- Breadcumb -->
    </div>
  </div>
</div>
<!-- Sayfa Başlığı -->


<div class="container-fluid m-l-230 m-t-15">
  <!-- Row -->
  <div class="row">
    <div class="col-md-12">
       <!-- Şube Ekle -->
      <form>
        <!-- Panel -->
        <div class="panel panel-light">
          <!-- Panel Heading -->
          <div class="panel-heading">
          <!-- Panel Left Block -->
            <div class="panel-heading-left-block">
              <span> Hesap Düzenle </span>
            </div>
          <!-- Panel Heading Left Block -->
          </div>
          <!-- Panel Heading -->
          <!-- Panel Body -->
          <div class="panel-body">

          <!-- Hesap İsmi -->
          <div class="form-group">
            <label for="HesapIsmi" class="control-label form-style-ozel-label">Hesap İsmi</label>
            <input type="text" class="form-control form-style-ozel" id="HesapIsmi" placeholder="Hesap İsmi">
          </div>
          <!-- Hesap İsmi -->

          <!-- Banka İsmi -->
          <div class="form-group">
            <label for="BankaIsmi" class="control-label form-style-ozel-label">Banka İsmi</label>
            <input type="text" class="form-control form-style-ozel" id="BankaIsmi" placeholder="Banka İsmi">
          </div>
          <!-- Banka İsmi -->

          <!-- Banka Şube -->
          <div class="form-group">
            <label for="BankaSube" class="control-label form-style-ozel-label">Banka Şubesi</label>
            <input type="text" class="form-control form-style-ozel" id="BankaSube" placeholder="Banka Şubesi">
          </div>
          <!-- Banka Şube -->

          <!-- Hesap Numarası -->
          <div class="form-group">
            <label for="BankaHesapNumarasi" class="control-label form-style-ozel-label">Hesap Numarası</label>
            <input type="text" class="form-control form-style-ozel" id="BankaHesapNumarasi" placeholder="Hesap Numarası">
          </div>
          <!-- Banka Numarasi -->

          <!-- Hesap Numarası -->
          <div class="form-group">
            <label for="BankaIbanNumarasi" class="control-label form-style-ozel-label">IBAN Numarası</label>
            <input type="text" class="form-control form-style-ozel" id="BankaIbanNumarasi" placeholder="IBAN Numarası">
          </div>
          <!-- Banka Numarasi -->

          <!-- Şube -->
          <div class="form-group" >
            <label for="BankaSubesi" class="control-label form-style-ozel-label">Şube</label>
            <select class="form-control form-style-ozel" id="BankaSubesi">
              <option value="0">Şube Seçiniz</option>
              <option value="1">Merkez Şube</option>
              <option value="2">Denizli Çınar Şubesi</option>
            </select>
          </div>
          <!-- Şube -->

          </div>
          <!-- Panel Body -->

          <!-- Panel Footer -->
          <div class="panel-footer">
            <div class="panel-footer-right-block">
              <button class="btn btn-success-ozel btn-lg"><i class="fa fa-cloud-upload"></i> Kaydet</button>
            </div>
            <div class="clearfix"></div>
          </div>
          <!-- Panel Footer -->
        </div>
        <!-- Panel -->

      </form>
       <!-- Şube Ekle -->
    </div>
  </div>
  <!-- Row -->

</div>