<!-- Sayfa Başlığı -->
<div id="sayfa-baslik" style="position:relative">
  <div class="container-fluid m-l-230">
    <div class="row">
      <!-- Page Header -->
      <div class="page-head-title">
        <h2>Form</h2>
      </div>
      <!-- Page Header -->
      <!-- Breadcumb -->
      <ol class="breadcrumb breadcumb-title">
        <li><a href="#">Anasayfa</a></li>
        <li><a href="#">Müşteriler</a></li>
        <li class="active">Ahmet Elçik</li>
      </ol>
      <!-- Breadcumb -->
    </div>
  </div>
</div>
<!-- Sayfa Başlığı -->


<!-- Genel -->
<div class="container-fluid m-l-230 m-t-15">
  <div class="row">
    <div class="col-md-12">

      <!-- Panel -->
      <div class="panel panel-light">
        <!-- Panel Heading -->
        <div class="panel-heading">
          <!-- Panel Left Block -->
          <div class="panel-heading-left-block">
            <span> Form  </span>
          </div>
          <!-- Panel Heading Left Block -->
        </div>
        <!-- Panel Heading -->
        <!-- Panel Body -->
        <div class="panel-body">

          <!-- Form -->
          <form>
            <div class="form-group">
              <label for="labelEmailAdresi" class="control-label form-style-ozel-label">E-Mail Adresi</label>
              <input type="email" class="form-control form-style-ozel" id="labelEmailAdresi" placeholder="Email">
              <span class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>
            </div>

            <div class="form-group has-success-ozel">
              <label for="labelSifre" class="control-label form-style-ozel-label">Şifre</label>
              <input type="password" class="form-control form-style-ozel" id="labelSifre" placeholder="Email">
              <span class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>
            </div>

            <!-- Textarea -->
            <div class="form-group has-error-ozel">
              <label for="labelTextarea" class="control-label form-style-ozel-label">Textarea</label>
              <textarea id="labelTextarea" class="form-control form-style-ozel" placeholder="Birşeyler yaz..."></textarea>
              <span class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>
            </div>
            <!-- Textarea -->

            <!-- Textarea -->
            <div class="form-group has-success-ozel">
              <label for="labelTextarea" class="control-label form-style-ozel-label">Textarea</label>
              <textarea id="labelTextarea" class="form-control form-style-ozel" placeholder="Birşeyler yaz..."></textarea>
              <span class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>
            </div>
            <!-- Textarea -->

            <div class="has-error-ozel">
              <div class="checkbox">
                <label>
                  <input type="checkbox">
                  Checkbox with error
                </label>
              </div>
            </div>

            <div class="has-success-ozel">
              <div class="checkbox">
                <label>
                  <input type="checkbox">
                  Checkbox with success
                </label>
              </div>
            </div>


            <div class="form-group">
              <label class="control-label form-style-ozel-label">Selectbox</label>
              <select class="form-control form-style-ozel">
                <option>Kolojengking</option>
                <option>Tonggent</option>
                <option>Bekicot</option>
                <option>Walang Sangit</option>
                <option>Undur-undur</option>
              </select>
            </div>

            <div class="form-group has-error-ozel">
              <label class="control-label form-style-ozel-label">Selectbox</label>
              <select class="form-control form-style-ozel">
                <option>Kolojengking</option>
                <option>Tonggent</option>
                <option>Bekicot</option>
                <option>Walang Sangit</option>
                <option>Undur-undur</option>
              </select>
            </div>

            <div class="form-group has-success-ozel">
              <label class="control-label form-style-ozel-label">Selectbox</label>
              <select class="form-control form-style-ozel">
                <option>Kolojengking</option>
                <option>Tonggent</option>
                <option>Bekicot</option>
                <option>Walang Sangit</option>
                <option>Undur-undur</option>
              </select>
            </div>

          </form>
          <!-- Form -->

        </div>
        <!-- Panel Body -->
        <!-- Panel Footer -->
        <div class="panel-footer" style="text-align: right">
          <button class="btn btn-success-ozel btn-lg"><i class="fa fa-cloud-upload"></i> Kaydet</button>
        </div>
        <!-- Panel Footer -->
      </div>
      <!-- Panel -->

    </div>
  </div>
</div>
<!-- Genel -->

