<!-- Sayfa Başlığı -->
<div id="sayfa-baslik" style="position:relative">
  <div class="container-fluid m-l-230">
    <div class="row">
      <!-- Page Header -->
      <div class="page-head-title">
        <h2>Araç Detay</h2>
      </div>
      <!-- Page Header -->
      <!-- Breadcumb -->
      <ol class="breadcrumb breadcumb-title">
        <li><a href="#">Anasayfa</a></li>
        <li><a href="#">Araçlar</a></li>
        <li class="active">35 D 8897 (Bmw 3 Serisi)</li>
      </ol>
      <!-- Breadcumb -->
    </div>
  </div>
</div>
<!-- Sayfa Başlığı -->


<div class="container-fluid m-l-230 m-t-15">
  <div class="row">
    <!-- Left -->
    <div class="col-md-8">
      <!-- Araç Detay -->

      <app-arac-detay-goster-component
        [AracDetayi]="arac_detay"
      ></app-arac-detay-goster-component>
      <!-- Araç Detay -->
    </div>
    <!-- Left -->
    <!-- Right -->
    <div class="col-md-4">
      <!-- Araç Detay Right -->
      <!-- Panel -->
      <div class="panel panel-light">
        <!-- Panel Body -->
        <div class="panel-body">
          <div class="row">
            <!-- Diğer Button DropDown -->
            <div class="col-md-6">
              <div class="btn-group btn-block" dropdown>
                <button class="btn btn-default-ozel btn-block" dropdownToggle>DİĞER <span class="caret"></span></button>
                <ul dropdownMenu role="menu" aria-labelledby="single-button" class="btn-block">
                  <li role="menuitem"><a routerLink="/araclar/5/duzenle" class="dropdown-item"><i class="fa fa-edit"></i> <span>Düzenle</span></a></li>
                  <li role="menuitem"><a href="javascript:void(0)" class="dropdown-item"><i class="fa fa-trash-o"></i> <span>Sil</span></a></li>
                </ul>
              </div>
            </div>
            <!-- Diğer Button DropDown -->
            <!-- Ödeme Ekle -->
            <div class="col-md-6">
              <a routerLink="/araclar/5/gider/yeni" id="giderEkleBtn" class="btn btn-danger-ozel btn-block"><i class="fa fa-sign-in fa-rotate-270"></i> Gider Ekle</a>
            </div>
            <!-- Ödeme Ekle -->
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="calisan-detay-kalan-bakiye-block">
                <div class="calisan-detay-kalan-bakiye-text-block">
                  <span class="calisan-detay-kalan-title-text">KALAN</span>
                  <span class="calisan-detay-kalan-bakiye-text">1.500,00 <i class="fa fa-try"></i></span>
                </div>
                <div class="progress" style="margin-bottom: 0;margin-top: 2px;">
                  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Panel Body -->
        <!-- Panel Footer -->
        <div class="panel-footer">
          <div class="calisan-right-islem-detay-footer-block">
            <div class="calisan-right-islem-detay-footer-text-block">
              <span class="calisan-right-footer-title-text">TOPLAM</span>
              <span class="calisan-right-footer-content-text pull-right">2.500,00 <i class="fa fa-try"></i></span>
            </div>
          </div>
        </div>
        <!-- Panel Footer -->
      </div>
      <!-- Panel -->

      <!-- Araç Detay Right Tab -->
      <!-- Panel -->
      <div class="panel panel-light">
        <!-- Panel Body -->
        <div class="panel-body padding-0">
          <!-- Tab -->
          <tabset>
            <!-- Ödemeler -->
            <tab heading="Ödemeler" customClass="tab-ozel">
              <div class="tab-page-content">
                <ul class="odeme-listele-tab">
                  <li>
                    <a href="#">
                      <!-- İcon -->
                      <div class="tab-page-content-icon-block">
                        <i class="fa fa-sign-out fa-rotate-90"></i>
                      </div>
                      <!-- İcon -->
                      <!-- Text -->
                      <div class="tab-page-content-text">
                        <p>25,00 <i class="fa fa-try"></i> 'lik Ödeme Gerçekleşti.</p>
                        <span>12 Aralık 2016 / Ahmet Elçik</span>
                      </div>
                      <!-- Text -->
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <!-- İcon -->
                      <div class="tab-page-content-icon-block">
                        <i class="fa fa-sign-out fa-rotate-90"></i>
                      </div>
                      <!-- İcon -->
                      <!-- Text -->
                      <div class="tab-page-content-text">
                        <p>25,00 <i class="fa fa-try"></i> 'lik Ödeme Gerçekleşti.</p>
                        <span>12 Aralık 2016 / Ahmet Elçik</span>
                      </div>
                      <!-- Text -->
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <!-- İcon -->
                      <div class="tab-page-content-icon-block">
                        <i class="fa fa-sign-out fa-rotate-90"></i>
                      </div>
                      <!-- İcon -->
                      <!-- Text -->
                      <div class="tab-page-content-text">
                        <p>25,00 <i class="fa fa-try"></i> 'lik Ödeme Gerçekleşti.</p>
                        <span>12 Aralık 2016 / Ahmet Elçik</span>
                      </div>
                      <!-- Text -->
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <!-- İcon -->
                      <div class="tab-page-content-icon-block">
                        <i class="fa fa-sign-out fa-rotate-90"></i>
                      </div>
                      <!-- İcon -->
                      <!-- Text -->
                      <div class="tab-page-content-text">
                        <p>25,00 <i class="fa fa-try"></i> 'lik Ödeme Gerçekleşti.</p>
                        <span>12 Aralık 2016 / Ahmet Elçik</span>
                      </div>
                      <!-- Text -->
                    </a>
                  </li>
                </ul>
              </div>
            </tab>
            <!-- Ödemeler -->

            <!-- Notlar -->
            <tab heading="Notlar" customClass="tab-ozel">
              <div class="tab-page-content">
                <ul class="not-listele-tab">
                  <li class="not-listele-tab-not-ekle-btn"><button class="btn btn-primary-ozel btn-block"><i class="fa fa-plus"></i> Yeni Not</button></li>
                  <app-arac-detay-arac-notlari-listele
                    [AracNotlari]="arac_notlari"
                  ></app-arac-detay-arac-notlari-listele>
                </ul>
              </div>
            </tab>
            <!-- Notlar -->
          </tabset>
          <!-- Tab -->
        </div>
        <!-- Panel Body -->
      </div>
      <!-- Panel -->
      <!-- Araç Detay Right Tab -->

      <!-- Araç Detay Right -->
    </div>
    <!-- Right -->
  </div>

  <!-- Alt -->
  <div class="row">
    <div class="col-md-12">
      <!-- Panel -->
      <div class="panel panel-light">
        <!-- Panel Body -->
        <div class="panel-body padding-0">
          <!-- Tab -->
          <tabset>
            <!-- Geçmiş Kiralama -->
            <tab heading="Geçmiş Kiralamalar" customClass="tab-ozel">
              <div class="tab-page-content" style="height: auto">
                <!-- Panel -->
                <div class="panel panel-light" style="border:none;">
                  <!-- Panel Body -->
                  <div class="panel-body" style="padding: 0;">
                    <div id="kiralama-listele-table-body-block">
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                          <th class="kiralama-listele-table-head-text-first">Araç Bilgisi</th>
                          <th class="kiralama-listele-table-head-text">Çıkış Bilgisi</th>
                          <th class="kiralama-listele-table-head-text">Dönüş Bilgisi</th>
                          <th class="kiralama-listele-table-head-text-last" style="text-align: right">Bakiye</th>
                          </thead>
                          <tbody>
                          <tr>
                            <td class="first-table-cell">
                              <a routerLink="/kiralamalar/5/detay">
                                <div class="kiralama-listele-table-left-block">
                                  <div class="kiralama-listele-table-left-icon-block">
                                    <i class="fa fa-car"></i>
                                  </div>
                                  <div class="kiralama-listele-table-left-arac-marka-adi">
                                    <span>Bmw 3 Serisi ( 35 D 8897 )</span>
                                  </div>
                                  <div class="kiralama-listele-table-left-musteri-adi">
                        <span>
                          Ahmet Elçik
                        </span>
                                  </div>
                                </div>
                              </a>
                            </td>
                            <td style="min-width: 170px">
                              <a routerLink="/kiralamalar/5/detay">
                                <div class="kiralama-listele-table-middle-block">
                                  <div class="kiralama-listele-table-middle-cikis-tarihi-block">
                                    <span><i class="fa fa-sign-in fa-rotate-270"></i> 05 Mart 2017 11:35</span>
                                  </div>
                                  <div class="kiralama-listele-table-middle-cikis-sube">
                                    <span><i class="fa fa-map-marker"></i> Denizli Merkez</span>
                                  </div>
                                </div>
                              </a>
                            </td>
                            <td style="min-width: 260px">
                              <a routerLink="/kiralamalar/5/detay">
                                <div class="kiralama-listele-table-middle-block">
                                  <div class="kiralama-listele-table-middle-donus-tarihi-block">
                                    <span><i class="fa fa-sign-in fa-rotate-90"></i> 06 Mart 2017 11:35</span>
                                    <span class="kiralama-listele-donus-tarihi-gun-sayisi">( <i class="fa fa-bell"></i> 10 saat sonra )</span>
                                  </div>
                                  <div class="kiralama-listele-table-middle-donus-sube">
                                    <span><i class="fa fa-map-marker"></i> Denizli Merkez</span>
                                  </div>
                                </div>
                              </a>
                            </td>
                            <td class="last-table-cell">
                              <a routerLink="/kiralamalar/5/detay">
                                <div class="kiralama-listele-table-right-block">
                                  <div class="kiralama-listele-table-right-kalan-meblag-block">
                                    <span>Kalan Meblağ : 25,00 <i class="fa fa-try"></i></span>
                                  </div>
                                  <div class="kiralama-listele-table-right-genel-toplam-block">
                                    <span>Genel Toplam : 100,00 <i class="fa fa-try"></i></span>
                                  </div>
                                  <div class="kiralama-listele-table-right-odeme-durumu-block">
                                    <span><i class="fa fa-minus"></i> ÖDENECEK</span>
                                  </div>
                                </div>
                              </a>
                            </td>
                          </tr>
                          <tr>
                            <td class="first-table-cell">
                              <a href="#">
                                <div class="kiralama-listele-table-left-block">
                                  <div class="kiralama-listele-table-left-icon-block">
                                    <i class="fa fa-car"></i>
                                  </div>
                                  <div class="kiralama-listele-table-left-arac-marka-adi">
                                    <span>Bmw 3 Serisi ( 35 D 8897 )</span>
                                  </div>
                                  <div class="kiralama-listele-table-left-musteri-adi">
                        <span>
                          Ahmet Elçik
                        </span>
                                  </div>
                                </div>
                              </a>
                            </td>
                            <td>
                              <a href="#">
                                <div class="kiralama-listele-table-middle-block">
                                  <div class="kiralama-listele-table-middle-cikis-tarihi-block">
                                    <span><i class="fa fa-sign-in fa-rotate-270"></i> 05 Mart 2017 11:35</span>
                                  </div>
                                  <div class="kiralama-listele-table-middle-cikis-sube">
                                    <span><i class="fa fa-map-marker"></i> Denizli Merkez</span>
                                  </div>
                                </div>
                              </a>
                            </td>
                            <td>
                              <a href="#">
                                <div class="kiralama-listele-table-middle-block">
                                  <div class="kiralama-listele-table-middle-cikis-tarihi-block">
                                    <span><i class="fa fa-sign-in fa-rotate-90"></i> 06 Mart 2017 11:35</span>
                                  </div>
                                  <div class="kiralama-listele-table-middle-cikis-sube">
                                    <span><i class="fa fa-map-marker"></i> Denizli Merkez</span>
                                  </div>
                                </div>
                              </a>
                            </td>
                            <td class="last-table-cell">
                              <a href="#">
                                <div class="kiralama-listele-table-right-block">
                                  <div class="kiralama-listele-table-right-kalan-meblag-block">
                                    <span>Kalan Meblağ : 25,00 <i class="fa fa-try"></i></span>
                                  </div>
                                  <div class="kiralama-listele-table-right-genel-toplam-block">
                                    <span>Genel Toplam : 100,00 <i class="fa fa-try"></i></span>
                                  </div>
                                  <div class="kiralama-listele-table-right-odeme-durumu-block">
                                    <span><i class="fa fa-minus"></i> ÖDENECEK</span>
                                  </div>
                                </div>
                              </a>
                            </td>
                          </tr>
                          <tr>
                            <td class="first-table-cell">
                              <a href="#">
                                <div class="kiralama-listele-table-left-block">
                                  <div class="kiralama-listele-table-left-icon-block">
                                    <i class="fa fa-car"></i>
                                  </div>
                                  <div class="kiralama-listele-table-left-arac-marka-adi">
                                    <span>Bmw 3 Serisi ( 35 D 8897 )</span>
                                  </div>
                                  <div class="kiralama-listele-table-left-musteri-adi">
                        <span>
                          Ahmet Elçik
                        </span>
                                  </div>
                                </div>
                              </a>
                            </td>
                            <td>
                              <a href="#">
                                <div class="kiralama-listele-table-middle-block">
                                  <div class="kiralama-listele-table-middle-cikis-tarihi-block">
                                    <span><i class="fa fa-sign-in fa-rotate-270"></i> 05 Mart 2017 11:35</span>
                                  </div>
                                  <div class="kiralama-listele-table-middle-cikis-sube">
                                    <span><i class="fa fa-map-marker"></i> Denizli Merkez</span>
                                  </div>
                                </div>
                              </a>
                            </td>
                            <td>
                              <a href="#">
                                <div class="kiralama-listele-table-middle-block">
                                  <div class="kiralama-listele-table-middle-cikis-tarihi-block">
                                    <span><i class="fa fa-sign-in fa-rotate-90"></i> 06 Mart 2017 11:35</span>
                                  </div>
                                  <div class="kiralama-listele-table-middle-cikis-sube">
                                    <span><i class="fa fa-map-marker"></i> Denizli Merkez</span>
                                  </div>
                                </div>
                              </a>
                            </td>
                            <td class="last-table-cell">
                              <a href="#">
                                <div class="kiralama-listele-table-right-block">
                                  <div class="kiralama-listele-table-right-kalan-meblag-block">
                                    <span>Kalan Meblağ : 25,00 <i class="fa fa-try"></i></span>
                                  </div>
                                  <div class="kiralama-listele-table-right-genel-toplam-block">
                                    <span>Genel Toplam : 100,00 <i class="fa fa-try"></i></span>
                                  </div>
                                  <div class="kiralama-listele-table-right-odeme-durumu-block">
                                    <span><i class="fa fa-minus"></i> ÖDENECEK</span>
                                  </div>
                                </div>
                              </a>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <!-- Panel Body -->
                </div>
                <!-- Panel -->
              </div>
            </tab>
            <!-- Geçmiş Kiralama -->

            <!-- Araç Giderleri -->
            <tab heading="Araç Giderleri" customClass="tab-ozel">
              <div class="tab-page-content" style="height: auto">
                <!-- Panel -->
                <div class="panel panel-light" style="border:none">
                  <!-- Panel Body -->
                  <div class="panel-body" style="padding: 0;">
                    <div id="gider-listele-body-table">
                      <div class="table-responsive">

                        <table class="table">
                          <thead>
                          <th class="gider-listele-table-baslik-text" style="padding-left: 20px;padding-bottom: 20px;padding-top: 20px">Açıklama</th>
                          <th class="gider-listele-table-baslik-text">Düzenleme Tarihi</th>
                          <th class="gider-listele-table-baslik-text gider-listele-right-baslik-text" style="padding-right: 20px;padding-bottom: 20px;padding-top: 20px"> <i class="fa fa-sort-numeric-desc"></i> Bakiye</th>
                          </thead>
                          <tbody>
                          <tr>
                            <td class="first-table-cell">
                              <a routerLink="../giderler/245/detay">
                                <div class="gider-listele-table-left-block">
                                  <div class="gider-listele-table-left-icon-block">
                                    <i class="fa fa-file" style="padding: 14px;background-color: #ddd;border-radius: 9px;font-size: 20px;color: #adadad;"></i>
                                  </div>
                                  <div class="gider-listele-table-aciklama-text">
                                    <span>Deneme Gider Açıklama</span>
                                  </div>
                                  <div class="gider-listele-table-kategori-block">
                                    <span>Araç Giderleri</span>
                                  </div>
                                </div>
                              </a>
                            </td>
                            <td>
                              <a routerLink="../giderler/245/detay">
                                <div class="gider-listele-table-middle-block">
                                  <div class="gider-listele-table-fatura-tarihi">
                                    <span>12 Ocak 2016</span>
                                    <span class="kalan-gun-text">( <i class="fa fa-bell"></i> 32 gün sonra )</span>
                                  </div>
                                  <div class="gider-listele-table-gider-turu-block">
                                    <span>Para Çıkışı</span>
                                  </div>
                                  <div class="gider-listele-table-gider-sube-block">
                                    <span><i class="fa fa-map-marker"></i> Denizli Merkez</span>
                                  </div>
                                </div>
                              </a>
                            </td>
                            <td style="text-align: right;">
                              <a routerLink="../giderler/245/detay">
                                <div class="gider-listele-table-right-block">
                                  <div class="gider-listele-table-kalan-meblag-block">
                                    <span>Kalan Meblağ : <b>90,00</b> <i class="fa fa-try"></i></span>
                                  </div>
                                  <div class="gider-listele-table-genel-toplam-block">
                                    <span>Genel Toplam : <b>100,00</b> <i class="fa fa-try"></i></span>
                                  </div>
                                  <div class="gider-listele-table-odeme-durumu-block">
                                    <span class="odenecek"><i class="fa fa-minus"></i> ÖDENECEK</span>
                                  </div>
                                  <!--<div class="gider-listele-table-odeme-durumu-block">-->
                                  <!--<span class="odendi"><i class="fa fa-check-circle"></i> ÖDENDİ</span>-->
                                  <!--</div>-->
                                </div>
                              </a>
                            </td>
                          </tr>
                          <tr>
                            <td class="first-table-cell">
                              <a href="#">
                                <div class="gider-listele-table-left-block">
                                  <div class="gider-listele-table-left-icon-block">
                                    <i class="fa fa-file" style="padding: 14px;background-color: #ddd;border-radius: 9px;font-size: 20px;color: #adadad;"></i>
                                  </div>
                                  <div class="gider-listele-table-aciklama-text">
                                    <span>Deneme Gider Açıklama</span>
                                  </div>
                                  <div class="gider-listele-table-kategori-block">
                                    <span>Araç Giderleri</span>
                                  </div>
                                </div>
                              </a>
                            </td>
                            <td>
                              <a href="#">
                                <div class="gider-listele-table-middle-block">
                                  <div class="gider-listele-table-fatura-tarihi">
                                    <span>12 Ocak 2016</span>
                                    <span class="kalan-gun-text">( <i class="fa fa-bell"></i> 32 gün sonra )</span>
                                  </div>
                                  <div class="gider-listele-table-gider-turu-block">
                                    <span>Para Çıkışı</span>
                                  </div>
                                  <div class="gider-listele-table-gider-sube-block">
                                    <span><i class="fa fa-map-marker"></i> Denizli Merkez</span>
                                  </div>
                                </div>
                              </a>
                            </td>
                            <td style="text-align: right;">
                              <a href="#">
                                <div class="gider-listele-table-right-block">
                                  <div class="gider-listele-table-kalan-meblag-block">
                                    <span>Kalan Meblağ : <b>90,00</b> <i class="fa fa-try"></i></span>
                                  </div>
                                  <div class="gider-listele-table-genel-toplam-block">
                                    <span>Genel Toplam : <b>100,00</b> <i class="fa fa-try"></i></span>
                                  </div>
                                  <div class="gider-listele-table-odeme-durumu-block">
                                    <span class="odenecek"><i class="fa fa-minus"></i> ÖDENECEK</span>
                                  </div>
                                  <!--<div class="gider-listele-table-odeme-durumu-block">-->
                                  <!--<span class="odendi"><i class="fa fa-check-circle"></i> ÖDENDİ</span>-->
                                  <!--</div>-->
                                </div>
                              </a>
                            </td>
                          </tr>
                          <tr>
                            <td class="first-table-cell">
                              <a href="#">
                                <div class="gider-listele-table-left-block">
                                  <div class="gider-listele-table-left-icon-block">
                                    <i class="fa fa-file" style="padding: 14px;background-color: #ddd;border-radius: 9px;font-size: 20px;color: #adadad;"></i>
                                  </div>
                                  <div class="gider-listele-table-aciklama-text">
                                    <span>Deneme Gider Açıklama</span>
                                  </div>
                                  <div class="gider-listele-table-kategori-block">
                                    <span>Araç Giderleri</span>
                                  </div>
                                </div>
                              </a>
                            </td>
                            <td>
                              <a href="#">
                                <div class="gider-listele-table-middle-block">
                                  <div class="gider-listele-table-fatura-tarihi">
                                    <span>12 Ocak 2016</span>
                                    <span class="kalan-gun-text">( <i class="fa fa-bell"></i> 32 gün sonra )</span>
                                  </div>
                                  <div class="gider-listele-table-gider-turu-block">
                                    <span>Para Çıkışı</span>
                                  </div>
                                  <div class="gider-listele-table-gider-sube-block">
                                    <span><i class="fa fa-map-marker"></i> Denizli Merkez</span>
                                  </div>
                                </div>
                              </a>
                            </td>
                            <td style="text-align: right;">
                              <a href="#">
                                <div class="gider-listele-table-right-block">
                                  <div class="gider-listele-table-kalan-meblag-block">
                                    <span>Kalan Meblağ : <b>90,00</b> <i class="fa fa-try"></i></span>
                                  </div>
                                  <div class="gider-listele-table-genel-toplam-block">
                                    <span>Genel Toplam : <b>100,00</b> <i class="fa fa-try"></i></span>
                                  </div>
                                  <div class="gider-listele-table-odeme-durumu-block">
                                    <span class="odenecek"><i class="fa fa-minus"></i> ÖDENECEK</span>
                                  </div>
                                  <!--<div class="gider-listele-table-odeme-durumu-block">-->
                                  <!--<span class="odendi"><i class="fa fa-check-circle"></i> ÖDENDİ</span>-->
                                  <!--</div>-->
                                </div>
                              </a>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <!-- Panel Body -->
                </div>
                <!-- Panel -->
              </div>
            </tab>
            <!-- Araç Giderleri -->
          </tabset>
          <!-- Tab -->
        </div>
        <!-- Panel Body -->
      </div>
      <!-- Panel -->
    </div>
  </div>
  <!-- Alt -->
</div>




<div  bsModal #childModal="bs-modal" class="modal fade delete-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Silme işlemini onaylayın</h4>
      </div>
      <div class="modal-body">
        <div class="modal-uyari-block2">
          <span>Bu çalışan kaydını silmek istediğinize emin misiniz? </span>
        </div>
        <div class="modal-uyari-bock-3">
          <span><i class="fa fa-exclamation-circle"></i> Dikkat, silme işlemi geri alınamaz.</span>
        </div>
        <div class="modal-uyari-block">
          <span>Silme işleminin sonucunda bu çalışan kaydı sistemden tamamen silinecek ve raporlama bilgileri dahil tüm bilgiler kaybolacaktır.</span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger-ozel-outline" data-dismiss="modal" (click)="aracSilEvent(5)">SİL</button>
        <button type="button" class="btn btn-default-ozel" (click)="hideChildModal()">VAZGEÇ</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
