<!-- Sayfa Başlığı -->
<div id="sayfa-baslik" style="position:relative">
  <div class="container-fluid m-l-230">
    <div class="row">
      <!-- Page Header -->
      <div class="page-head-title">
        <h2>Müşteri Maaş / Prim Ekle</h2>
      </div>
      <!-- Page Header -->
      <!-- Breadcumb -->
      <ol class="breadcrumb breadcumb-title">
        <li><a href="#">Anasayfa</a></li>
        <li><a href="#">Müşteriler</a></li>
        <li><a href="#">Maho</a></li>
        <li><a href="#">Maaş / Prim</a></li>
        <li class="active">Yeni</li>
      </ol>
      <!-- Breadcumb -->
    </div>
  </div>
</div>
<!-- Sayfa Başlığı -->



<div class="container-fluid m-l-230 m-t-15">
  <div class="row">
    <div class="col-md-12">
      <app_musteri_maas_prim_ekle_form_component></app_musteri_maas_prim_ekle_form_component>
    </div>
  </div>
</div>
