@import "has-error.scss";
@import "has-success.scss";
/* Form Input Text */
.form-style-ozel{
  border: 1px solid #e1e8ed;
  border-radius: 3px;
  box-shadow: none;
  color: #6d6d6d;
  &:focus{
    border:1px solid #c7c7c7;
    box-shadow: none;
  }
}

/* Form Input Label */
.form-style-ozel-label{
  font-weight: 500;
  color: #656565;
}

/* Help Block */
.help-block{
  font-size: 12px;
  font-weight:100;
}

/* has-success */
.has-success .checkbox, .has-success .checkbox-inline, .has-success .control-label, .has-success .help-block, .has-success .radio, .has-success .radio-inline, .has-success.checkbox label, .has-success.checkbox-inline label, .has-success.radio label, .has-success.radio-inline label {
  color: #81c784;
}
/* has-error */
.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
  color: #ef5350;
}


.has-error1 .form-control:focus{
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #ef5350;
}

