.has-error-ozel{
  color: #ef5350;

  /* Control Label */
  & .control-label{
    color: #ef5350;
  }

  /* Help Block */
  & .help-block{
    color: #ef5350;
  }

  /* TextArea */
  textarea{
    border:1px solid #ef5350;
    &:focus{
      border:1px solid #ef5350;
    }
  }
}
