//.has-error-ozel .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
//  color: #ef5350;
//}

.has-error-ozel{
  color: #ef5350;

  /* Control Label */
  & .control-label{
    color: #ef5350;
  }

  /* Help Block */
  & .help-block{
    color: #ef5350;
  }
}
