<!-- Sayfa Başlığı -->
<div id="sayfa-baslik" style="position:relative">
  <div class="container-fluid m-l-230">
    <div class="row">
      <!-- Page Header -->
      <div class="page-head-title">
        <h2>Tab</h2>
      </div>
      <!-- Page Header -->
      <!-- Breadcumb -->
      <ol class="breadcrumb breadcumb-title">
        <li><a href="#">Anasayfa</a></li>
        <li><a href="#">Müşteriler</a></li>
        <li class="active">Ahmet Elçik</li>
      </ol>
      <!-- Breadcumb -->
    </div>
  </div>
</div>
<!-- Sayfa Başlığı -->


<!-- Genel -->
<div class="container-fluid m-l-230 m-t-15">
  <div class="row">

    <div class="col-md-4">
      <!-- Panel -->
      <div class="panel panel-light">
        <!-- Panel Body -->
        <div class="panel-body padding-0">
          <!-- Tab -->
          <tabset>
            <tab heading="Tab1" customClass="tab-ozel">
              <div class="tab-page-content">
                <!-- content-->
                tab1 içerik
              </div>
            </tab>
            <tab heading="Tab2" customClass="tab-ozel">
              <div class="tab-page-content">
                <!-- content-->
                tab2 içerik
              </div>
            </tab>
          </tabset>
          <!-- Tab -->
        </div>
        <!-- Panel Body -->
      </div>
      <!-- Panel -->
    </div>

  </div>
</div>
<!-- Genel -->

