<!-- Sayfa Başlığı -->
<div id="sayfa-baslik" style="position:relative">
  <div class="container-fluid m-l-230">
    <div class="row">
      <!-- Page Header -->
      <div class="page-head-title">
        <h2>Form</h2>
      </div>
      <!-- Page Header -->
      <!-- Breadcumb -->
      <ol class="breadcrumb breadcumb-title">
        <li><a href="#">Anasayfa</a></li>
        <li><a href="#">Müşteriler</a></li>
        <li class="active">Ahmet Elçik</li>
      </ol>
      <!-- Breadcumb -->
    </div>
  </div>
</div>
<!-- Sayfa Başlığı -->


<!-- Genel -->
<div class="container-fluid m-l-230 m-t-15">
  <div class="row">
    <div class="col-md-12">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur corporis deleniti dolorem eveniet fugit omnis perferendis quibusdam quos sunt tenetur? Cupiditate hic impedit libero maiores minima quasi sed sunt. Impedit.gg
      </p>
    </div>
  </div>
</div>
<!-- Genel -->

