<!-- Sayfa Başlığı -->
<div id="sayfa-baslik" style="position:relative">
  <div class="container-fluid m-l-230">
    <div class="row">
      <!-- Page Header -->
      <div class="page-head-title">
        <h2>Yeni Hizmet</h2>
      </div>
      <!-- Page Header -->
      <!-- Breadcumb -->
      <ol class="breadcrumb breadcumb-title">
        <li><a href="#">Anasayfa</a></li>
        <li><a href="#">Hizmetler</a></li>
        <li class="active">Yeni</li>
      </ol>
      <!-- Breadcumb -->
    </div>
  </div>
</div>
<!-- Sayfa Başlığı -->


<div class="container-fluid m-l-230 m-t-15">
  <!-- Row -->
  <div class="row">
    <div class="col-md-12">
       <!-- Şube Ekle -->
      <form>
        <!-- Panel -->
        <div class="panel panel-light">
          <!-- Panel Heading -->
          <div class="panel-heading">
          <!-- Panel Left Block -->
            <div class="panel-heading-left-block">
              <span> Yeni Hizmet </span>
            </div>
          <!-- Panel Heading Left Block -->
          </div>
          <!-- Panel Heading -->
          <!-- Panel Body -->
          <div class="panel-body">

          <!-- Hizmet Adı -->
          <div class="form-group">
            <label for="HizmetAdi" class="control-label form-style-ozel-label">Hizmet Adı</label>
            <input type="text" class="form-control form-style-ozel" id="HizmetAdi" name="hizmet_adi" placeholder="Hizmet Adı">
          </div>
          <!-- Hizmet Adı -->

          <!-- Hizmet Adet Türü -->
          <div class="form-group">
            <label for="HizmetAdetTuru" class="control-label form-style-ozel-label">Hizmet Adet Türü</label>
            <select name="hizmet_adet_turu" id="HizmetAdetTuru" class="form-control form-style-ozel">
              <option value="0">Hizmet Adet Türü Seçiniz</option>
              <option value="1">Günlük</option>
              <option value="2">Kiralama Başına</option>
            </select>
          </div>
          <!-- Hizmet Adet Türü -->

          <!-- Hizmet Kategorisi -->
          <div class="form-group">
            <label for="HizmetKategorisi" class="control-label form-style-ozel-label">Hizmet Kategorisi</label>
            <select name="hizmet_kategorisi" id="HizmetKategorisi" class="form-control form-style-ozel">
              <option value="0">Hizmet Kategorisi Seçiniz</option>
              <option value="1">Ekstralar (Opsiyonel)</option>
              <option value="2">Sigortalar (Opsiyonel)</option>
            </select>
          </div>
          <!-- Hizmet Kategorisi -->

          <!-- Hizmet Kategorisi -->
          <div class="form-group">
            <label for="HizmetAdetSatisiYapilsinMi" class="control-label form-style-ozel-label">Adet Satışı Yapılsın mı?</label>
            <select name="hizmet_kategorisi" id="HizmetKategorisi" class="form-control form-style-ozel">
              <option value="1">Evet</option>
              <option value="2">Hayır</option>
            </select>
          </div>
          <!-- Hizmet Kategorisi -->

        

          </div>
          <!-- Panel Body -->

          <!-- Panel Footer -->
          <div class="panel-footer">
            <div class="panel-footer-right-block">
              <button class="btn btn-success-ozel btn-lg"><i class="fa fa-cloud-upload"></i> Kaydet</button>
            </div>
            <div class="clearfix"></div>
          </div>
          <!-- Panel Footer -->
        </div>
        <!-- Panel -->

      </form>
       <!-- Şube Ekle -->
    </div>
  </div>
  <!-- Row -->

</div>