.nav-tabs {
  border-bottom: 1px solid #e1e8ed;
}

li.tab-ozel{
  display: block;
  color: #555;
  text-decoration: none;
  & .active{
    color: #555!important;
    border-bottom:2px solid #4285F4!important;
  }
  & a{
    font-size: 13px!important;
    background: none!important;
    border: none!important;
    color: #555;
    &:hover{
      background: transparent;
      border: none;
    }
  }
}

/* Tab Page İçerik */
.tab-page-content{
  height:200px;
  overflow-y: auto;
}

/* Tab İçerik Notlari Listele */
.not-listele-tab{
  list-style: none;
  padding: 0;
  & .tab-page-content-icon-block{
    display: inline-block;
    & i{
      background: #eee;
      color: #a39f9d;
      top: 10px;
      left: 10px;
      border-radius: 5px;
      padding: 10px!important;
    }
  }
}
