.nav-tabs {
  border-bottom: 1px solid #e1e8ed;
}

li.tab-ozel{
  display: block;
  color: #555;
  text-decoration: none;
  & .active{
    color: #555!important;
    border-bottom:2px solid #4285F4!important;
  }
  & a{
    font-size: 13px!important;
    background: none!important;
    border: none!important;
    color: #555;
    &:hover{
      background: transparent;
      border: none;
    }
  }
}

/* Tab Page İçerik */
.tab-page-content{
  height:200px;
  overflow-y: auto;
}
