<!-- Sayfa Başlığı -->
<div id="sayfa-baslik" style="position:relative">
  <div class="container-fluid m-l-230">
    <div class="row">
      <!-- Page Header -->
      <div class="page-head-title">
        <h2>List Component</h2>
      </div>
      <!-- Page Header -->
      <!-- Breadcumb -->
      <ol class="breadcrumb breadcumb-title">
        <li><a href="#">Anasayfa</a></li>
        <li><a href="#">Müşteriler</a></li>
        <li class="active">Ahmet Elçik</li>
      </ol>
      <!-- Breadcumb -->
    </div>
  </div>
</div>
<!-- Sayfa Başlığı -->


<!-- Genel -->
<div class="container-fluid m-l-230 m-t-15">

  <!-- Gider Listele Table -->
  <div class="row">
    <div class="col-xs-12">
      <!-- Panel -->
      <div class="panel panel-light" style="border-radius: 5px">
        <!-- Panel Body -->
        <div class="panel-body" style="padding: 0;">
          <div id="gider-listele-body-table">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <th class="gider-listele-table-baslik-text" style="padding-left: 20px;padding-bottom: 20px;padding-top: 20px">Açıklama</th>
                  <th class="gider-listele-table-baslik-text">Düzenleme Tarihi</th>
                  <th class="gider-listele-table-baslik-text gider-listele-right-baslik-text" style="padding-right: 20px;padding-bottom: 20px;padding-top: 20px"> <i class="fa fa-sort-numeric-desc"></i> Bakiye</th>
                </thead>
                <tbody>
                <tr>
                  <td>
                    <a href="#">
                      <div class="gider-listele-table-left-block">
                        <div class="gider-listele-table-left-icon-block">
                          <i class="fa fa-file" style="padding: 14px;background-color: #ddd;border-radius: 9px;font-size: 20px;color: #adadad;"></i>
                        </div>
                        <div class="gider-listele-table-aciklama-text">
                          <span>Deneme Gider Açıklama</span>
                        </div>
                        <div class="gider-listele-table-kategori-block">
                          <span>Araç Giderleri</span>
                        </div>
                      </div>
                    </a>
                  </td>
                  <td>
                    <a href="#">
                      <div class="gider-listele-table-middle-block">
                        <div class="gider-listele-table-fatura-tarihi">
                          <span>12 Ocak 2016</span>
                          <span class="kalan-gun-text">( <i class="fa fa-bell"></i> 32 gün sonra )</span>
                        </div>
                        <div class="gider-listele-table-gider-turu-block">
                          <span>Para Çıkışı</span>
                        </div>
                        <div class="gider-listele-table-gider-sube-block">
                          <span><i class="fa fa-map-marker"></i> Denizli Merkez</span>
                        </div>
                      </div>
                    </a>
                  </td>
                  <td style="text-align: right;">
                    <a href="#">
                      <div class="gider-listele-table-right-block">
                        <div class="gider-listele-table-kalan-meblag-block">
                          <span>Kalan Meblağ : <b>90,00</b> <i class="fa fa-try"></i></span>
                        </div>
                        <div class="gider-listele-table-genel-toplam-block">
                          <span>Genel Toplam : <b>100,00</b> <i class="fa fa-try"></i></span>
                        </div>
                        <div class="gider-listele-table-odeme-durumu-block">
                          <span class="odenecek"><i class="fa fa-minus"></i> ÖDENECEK</span>
                        </div>
                        <!--<div class="gider-listele-table-odeme-durumu-block">-->
                          <!--<span class="odendi"><i class="fa fa-check-circle"></i> ÖDENDİ</span>-->
                        <!--</div>-->
                      </div>
                    </a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- Panel Body -->
      </div>
      <!-- Panel -->
    </div>
  </div>
  <!-- Gider Listele Table -->

  <div class="row">
    <!-- Gider Listele -->
    <div class="col-xs-12">
      <!-- Panel -->
      <div class="panel panel-light" style="border-radius: 5px">
        <!-- Panel Heading -->
        <div class="panel-heading" style="padding: 0;">
          <!-- List Header -->
          <div class="list-header-block">
            <!-- List Header Left Block -->
            <div class="list-header-left-block">
              <span> Açıklama </span>
            </div>
            <!-- List Header Left Block -->
            <!-- List Header Orta Block -->
            <div class="list-header-left-block" style="margin-left: 370px">
              <span> Düzenleme Tarihi </span>
            </div>
            <!-- List Header Orta Block -->
            <!-- List Header Right Block -->
            <div class="list-header-right-block">
              <span> <i class="fa fa-sort-numeric-desc"></i> Bakiye </span>
            </div>
            <!-- List Header Right Block -->
          </div>
          <!-- List Header -->
        </div>
        <!-- Panel Heading -->
        <!-- Panel Body -->
        <div class="panel-body" style="padding: 0;">
          <!-- List Body Block -->
          <div class="list-body-block">
            <!-- Hesap Listele -->
            <div id="gider-listele-body-block">
              <ul class="gider-listele-ul">
                <li>
                  <a href="#">
                    <!-- Gider Listele Left Block -->
                    <div class="gider-listele-left-block">
                      <!-- Gider Listele Left İcon -->
                      <div class="gider-listele-icon-block">
                        <i class="fa fa-file"></i>
                        <i class="fa fa-circle gider-listele-icon-odeme-durumu-kisa odeme-durumu-green-icon"></i>
                      </div>
                      <!-- Gider Listele Left İcon -->
                      <!-- Gider Listele İsmi -->
                      <div class="gider-listele-aciklama-block">
                        <span>Deneme Gider Açıklama</span>
                        <span class="gider-listele-kategorisi">35 D 8897</span>
                      </div>
                      <!-- Gider Listele İsmi -->
                    </div>
                    <!-- Gider Listele Left Block -->
                    <!-- Gider Listele Right Block -->
                    <div class="gider-listele-right-block">
                      <!-- Gider Bakiye Bilgi -->
                      <div class="gider-listele-bakiye-bilgisi">
                        <div class="gider-listele-kalan-meblag-block">
                          <span>Kalan Meblağ : <b>25,00</b> <i class="fa fa-try"></i></span>
                        </div>
                        <div class="gider-listele-genel-toplam-block">
                          <span>Genel Toplam : <b>100,00</b> <i class="fa fa-try"></i></span>
                        </div>
                        <div class="gider-listele-odeme-durum-bilgisi-block">
                          <span><i class="fa fa-minus"></i> <b>ÖDENECEK</b></span>
                          <!--<span class="gider-listele-odeme-durumu-odendi"><i class="fa fa-check-circle-o"></i> <b>ÖDENDİ</b></span>-->
                        </div>
                      </div>
                      <!-- Gider Bakiye Bilgi -->
                    </div>
                    <!-- Gider Listele Right Block -->
                  </a>
                </li>

              </ul>
            </div>
            <!-- Hesap Listele -->
          </div>
          <!-- List Body Block -->
        </div>
        <!-- Panel Body -->
      </div>
      <!-- Panel -->
    </div>
    <!-- Gider Listele -->
  </div>

  <!-- Kasa Listele -->
  <div class="row">

    <!-- Araç Listele -->
    <div class="col-md-6">
      <!-- Panel -->
      <div class="panel panel-light" style="border-radius: 5px">
        <!-- Panel Heading -->
        <div class="panel-heading" style="padding: 0">
          <!-- List Header -->
          <div class="list-header-block">
            <!-- List Header Left Block -->
            <div class="list-header-left-block">
              <span> Araç </span>
            </div>
            <!-- List Header Left Block -->
            <!-- List Header Right Blcok -->
            <div class="list-header-right-block">
              <span> <i class="fa fa-location-arrow"></i> Konumu </span>
            </div>
            <!-- List Header Right Blcok -->
          </div>
          <!-- List Header -->
        </div>
        <!-- Panel Heading -->
        <!-- Panel Body -->
        <div class="panel-body" style="padding: 0;">
          <!-- List Body Block -->
          <div class="list-body-block">
            <!-- Hesap Listele -->
            <div id="arac-listele-body-block">
              <ul class="arac-listele-ul">
                <li>
                  <a href="#">
                    <!-- Araç Listele Left Block -->
                    <div class="arac-listele-left-block">
                      <!-- Araç Listele Left İcon -->
                      <div class="arac-listele-icon-block">
                        <i class="fa fa-car"></i>
                      </div>
                      <!-- Araç Listele Left İcon -->
                      <!-- Araç Listele İsmi -->
                      <div class="arac-listele-ismi-adi">
                        <span>BMW 3 Serisi <small>( Dizel )</small></span>
                        <span class="arac-listele-arac-plaka">35 D 8897</span>
                      </div>
                      <!-- Araç Listele İsmi -->
                    </div>
                    <!-- Araç Listele Left Block -->
                    <!-- Araç Listele Right Block -->
                    <div class="arac-listele-right-block">
                     <!-- Araç Konumu -->
                      <div class="arac-listele-arac-konumu">
                        <span>Denizli Merkez</span>
                      </div>
                     <!-- Araç Konumu -->
                    </div>
                    <!-- Araç Listele Right Block -->
                  </a>
                </li>

              </ul>
            </div>
            <!-- Hesap Listele -->
          </div>
          <!-- List Body Block -->
        </div>
        <!-- Panel Body -->
      </div>
      <!-- Panel -->
    </div>
    <!-- Araç Listele -->


    <!-- Hesap Listele -->
    <div class="col-md-6">
      <!-- Panel -->
      <div class="panel panel-light" style="border-radius: 5px">
        <!-- Panel Heading -->
        <div class="panel-heading" style="padding: 0">
          <!-- List Header -->
          <div class="list-header-block">
            <!-- List Header Left Block -->
            <div class="list-header-left-block">
              <span> İsmi </span>
            </div>
            <!-- List Header Left Block -->
            <!-- List Header Right Blcok -->
            <div class="list-header-right-block">
              <span> <i class="fa fa-sort-numeric-desc"></i> Bakiye </span>
            </div>
            <!-- List Header Right Blcok -->
          </div>
          <!-- List Header -->
        </div>
        <!-- Panel Heading -->
        <!-- Panel Body -->
        <div class="panel-body" style="padding: 0;">
          <!-- List Body Block -->
          <div class="list-body-block">
            <!-- Hesap Listele -->
            <div id="hesap-listele-body-block">
              <ul class="hesap-listele-ul">
                <li>
                  <a href="#">
                    <!-- Hesap Listele Left Block -->
                    <div class="hesap-listele-left-block">
                      <!-- Hesap Listele Left İcon -->
                      <div class="hesap-listele-icon-block">
                        <i class="fa fa-bank"></i>
                      </div>
                      <!-- Hesap Listele Left İcon -->
                      <!-- Hesap Listele İsmi -->
                      <div class="hesap-listele-ismi-adi">
                        <span>Denizli Merkez Şube</span>
                      </div>
                      <!-- Hesap Listele İsmi -->
                    </div>
                    <!-- Hesap Listele Left Block -->
                    <!-- Hesap Listele Right Block -->
                    <div class="hesap-listele-right-block">
                      <!-- Hesap Bakiye -->
                      <div class="hesap-listele-bakiye">
                        <span>250,00 <i class="fa fa-try"></i></span>
                      </div>
                      <!-- Hesap Bakiye -->
                    </div>
                    <!-- Hesap Listele Right Block -->
                  </a>
                </li>
                <li>
                  <a href="#">
                    <!-- Hesap Listele Left Block -->
                    <div class="hesap-listele-left-block">
                      <!-- Hesap Listele Left İcon -->
                      <div class="hesap-listele-icon-block">
                        <i class="fa fa-bank"></i>
                      </div>
                      <!-- Hesap Listele Left İcon -->
                      <!-- Hesap Listele İsmi -->
                      <div class="hesap-listele-ismi-adi">
                        <span>Denizli Merkez Şube</span>
                      </div>
                      <!-- Hesap Listele İsmi -->
                    </div>
                    <!-- Hesap Listele Left Block -->
                    <!-- Hesap Listele Right Block -->
                    <div class="hesap-listele-right-block">
                      <!-- Hesap Bakiye -->
                      <div class="hesap-listele-bakiye">
                        <span>250,00 <i class="fa fa-try"></i></span>
                      </div>
                      <!-- Hesap Bakiye -->
                    </div>
                    <!-- Hesap Listele Right Block -->
                  </a>
                </li>
                <li>
                  <a href="#">
                    <!-- Hesap Listele Left Block -->
                    <div class="hesap-listele-left-block">
                      <!-- Hesap Listele Left İcon -->
                      <div class="hesap-listele-icon-block">
                        <i class="fa fa-bank"></i>
                      </div>
                      <!-- Hesap Listele Left İcon -->
                      <!-- Hesap Listele İsmi -->
                      <div class="hesap-listele-ismi-adi">
                        <span>Denizli Merkez Şube</span>
                      </div>
                      <!-- Hesap Listele İsmi -->
                    </div>
                    <!-- Hesap Listele Left Block -->
                    <!-- Hesap Listele Right Block -->
                    <div class="hesap-listele-right-block">
                      <!-- Hesap Bakiye -->
                      <div class="hesap-listele-bakiye">
                        <span>250,00 <i class="fa fa-try"></i></span>
                      </div>
                      <!-- Hesap Bakiye -->
                    </div>
                    <!-- Hesap Listele Right Block -->
                  </a>
                </li>
              </ul>
            </div>
            <!-- Hesap Listele -->
          </div>
          <!-- List Body Block -->
        </div>
        <!-- Panel Body -->
      </div>
      <!-- Panel -->
    </div>
    <!-- Hesap Listele -->
  </div>
  <!-- Kasa Listele -->

  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-light">

        <!-- Yeni Müşteri Ekle -->
        <div class="musteri-ekle-block"  style="padding: 10px;">
          <button class="btn btn-primary-ozel btn-block"><i class="fa fa-user-plus"></i> Yeni Müşteri </button>
        </div>
        <!-- Yeni Müşteri Ekle -->
        <!-- Müşteri Ara -->
        <div class="musteri-ara-block" style="padding: 10px;">
          <form>
            <input type="text" class="form-control form-style-ozel" placeholder="Müşteri Ara...">
            <button class="btn btn-success-ozel btn-block m-t-5"><i class="fa fa-search"></i> Ara</button>
          </form>
        </div>
        <!-- Müşteri Ara -->
      </div>
    </div>

    <div class="col-md-9">
      <div class="panel panel-light" style="border-radius: 5px">

        <div class="panel-body padding-0">
          <div id="musteri-listele">
            <!-- Müşteri Listele Header -->
            <div class="musteri-listele-header">
              <div class="musteri-listele-label-header">
                <span>Adi / Şirket</span>
              </div>
              <div class="musteri-listele-label-header" style="float:right;padding-right: 10px">
                <span><i class="fa fa-sort-numeric-desc"></i> Bakiye</span>
              </div>
            </div>
            <!-- Müşteri Listele Header -->
            <!-- Müşteri Listele Body -->
            <div id="musteri-listele-body">
              <ul class="musteri-list">
                <li>
                  <a href="#">
                    <!-- Sol Block -->
                    <div class="musteri-list-sol-block">
                      <!-- Kısa Ad -->
                      <div class="musteri-list-kisa-ad img-circle">
                        <span>AE</span>
                      </div>
                      <!-- Kısa Ad -->
                      <!-- Tam Ad -->
                      <div class="musteri-list-tam-ad">
                        <span>Ahmet Elçik</span>
                        <span class="musteri-list-tam-ad-telefon">(554) 910 98 94</span>
                      </div>
                      <!-- Tam Ad -->
                    </div>
                    <!-- Sol Block -->
                    <!-- Sağ Block -->
                    <div class="musteri-list-sag-block">
                      <!-- Bakiye -->
                      <div class="musteri-list-bakiye">
                        <span> - 250,00 <i class="fa fa-try"></i></span>
                      </div>
                      <!-- Bakiye -->
                    </div>
                    <!-- Sağ Block -->
                  </a>
                </li>
                <li>
                  <a href="#">
                    <!-- Sol Block -->
                    <div class="musteri-list-sol-block">
                      <!-- Kısa Ad -->
                      <div class="musteri-list-kisa-ad img-circle">
                        <span>AE</span>
                      </div>
                      <!-- Kısa Ad -->
                      <!-- Tam Ad -->
                      <div class="musteri-list-tam-ad">
                        <span>Ahmet Elçik</span>
                        <span class="musteri-list-tam-ad-telefon">(554) 910 98 94</span>
                      </div>
                      <!-- Tam Ad -->
                    </div>
                    <!-- Sol Block -->
                    <!-- Sağ Block -->
                    <div class="musteri-list-sag-block">
                      <!-- Bakiye -->
                      <div class="musteri-list-bakiye">
                        <span> - 250,00 <i class="fa fa-try"></i></span>
                      </div>
                      <!-- Bakiye -->
                    </div>
                    <!-- Sağ Block -->
                  </a>
                </li>
                <li>
                  <a href="#">
                    <!-- Sol Block -->
                    <div class="musteri-list-sol-block">
                      <!-- Kısa Ad -->
                      <div class="musteri-list-kisa-ad img-circle">
                        <span>AE</span>
                      </div>
                      <!-- Kısa Ad -->
                      <!-- Tam Ad -->
                      <div class="musteri-list-tam-ad">
                        <span>Ahmet Elçik</span>
                        <span class="musteri-list-tam-ad-telefon">(554) 910 98 94</span>
                      </div>
                      <!-- Tam Ad -->
                    </div>
                    <!-- Sol Block -->
                    <!-- Sağ Block -->
                    <div class="musteri-list-sag-block">
                      <!-- Bakiye -->
                      <div class="musteri-list-bakiye">
                        <span> - 250,00 <i class="fa fa-try"></i></span>
                      </div>
                      <!-- Bakiye -->
                    </div>
                    <!-- Sağ Block -->
                  </a>
                </li>
                <li>
                  <a href="#">
                    <!-- Sol Block -->
                    <div class="musteri-list-sol-block">
                      <!-- Kısa Ad -->
                      <div class="musteri-list-kisa-ad img-circle">
                        <span>AE</span>
                      </div>
                      <!-- Kısa Ad -->
                      <!-- Tam Ad -->
                      <div class="musteri-list-tam-ad">
                        <span>Ahmet Elçik</span>
                        <span class="musteri-list-tam-ad-telefon">(554) 910 98 94</span>
                      </div>
                      <!-- Tam Ad -->
                    </div>
                    <!-- Sol Block -->
                    <!-- Sağ Block -->
                    <div class="musteri-list-sag-block">
                      <!-- Bakiye -->
                      <div class="musteri-list-bakiye">
                        <span> - 250,00 <i class="fa fa-try"></i></span>
                      </div>
                      <!-- Bakiye -->
                    </div>
                    <!-- Sağ Block -->
                  </a>
                </li>
              </ul>
            </div>
            <!-- Müşteri Listele Body -->
          </div>
        </div>
        <!-- Panel Footer -->
        <div class="panel-footer" style="text-align: center">
          <button class="btn btn-primary-ozel"><i class="fa fa-spinner fa-spin fa-lg"></i> Daha Fazla Göster</button>
        </div>
        <!-- Panel Footer -->
      </div>
    </div>

  </div>
</div>
<!-- Genel -->

