<!-- Sayfa Başlığı -->
<div id="sayfa-baslik" style="position:relative">
  <div class="container-fluid m-l-230">
    <div class="row">
      <!-- Page Header -->
      <div class="page-head-title">
        <h2>Hesap Detay</h2>
      </div>
      <!-- Page Header -->
      <!-- Breadcumb -->
      <ol class="breadcrumb breadcumb-title">
        <li><a href="#">Anasayfa</a></li>
        <li><a href="#">Hesaplar</a></li>
        <li class="active">Merkez Kasa</li>
      </ol>
      <!-- Breadcumb -->
    </div>
  </div>
</div>
<!-- Sayfa Başlığı -->


<div class="container-fluid m-l-230 m-t-15">
  <!-- Row -->
  <div class="row">
    <!-- Çalışan Detay-->
    <div class="col-md-8">
      <div class="panel panel-light">
        <!-- Panel Heading -->
        <div class="panel-heading">
          <!-- Panel Left Block -->
          <div class="panel-heading-left-block">
            <span> Hesap Detay </span>
          </div>
          <!-- Panel Heading Left Block -->
        </div>
        <!-- Panel Heading -->
        <div class="panel-body">
          <!-- Adı Soyadı -->
          <div class="row musteri-detay-list-row-block">
            <div class="col-md-3">
              <span>Adı Soyadı</span>
            </div>
            <div class="col-md-1">
              <span>:</span>
            </div>
            <div class="col-md-8">
              <span>Ahmet Elçik</span>
            </div>
          </div>
          <!-- Adı Soyadı -->
          <!-- E-Posta Adresi -->
          <div class="row musteri-detay-list-row-block">
            <div class="col-md-3">
              <span>E-Posta Adresi</span>
            </div>
            <div class="col-md-1">
              <span>:</span>
            </div>
            <div class="col-md-8">
              <span>ahmetelcik35@gmail.com</span>
            </div>
          </div>
          <!-- E-Posta Adresi -->
          <!-- IBAN Numarası -->
          <div class="row musteri-detay-list-row-block">
            <div class="col-md-3">
              <span>IBAN Numarası</span>
            </div>
            <div class="col-md-1">
              <span>:</span>
            </div>
            <div class="col-md-8">
              <span>TR25252525252525253242342</span>
            </div>
          </div>
          <!-- IBAN Numarası -->
        </div>
        <div class="panel-footer">
          <!-- Panel Footer Left Block -->
          <div class="panel-footer-left-block">
            <div class="panel-footer-ekleyen-kullanici-block">
              <span>Ekleyen Kullanıcı : <a href="#" class="link-blue-hover">Ahmet Elçik</a></span>
            </div>
          </div>
          <!-- Panel Footer Left Block -->
          <!-- Panel Footer Right Block -->
          <div class="panel-footer-right-block">
            <div class="panel-footer-olusturulma-tarihi-block">
              <span>Oluşturulma Tarihi : 12 Aralık 2016 11:30</span>
            </div>
          </div>
          <!-- Panel Footer Right Block -->
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <!-- Çalışan Detay-->
    <!-- Sağ Taraf -->
    <div class="col-md-4">
      <!-- Panel -->
      <div class="panel panel-light">
        <!-- Panel Body -->
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <div class="btn-group btn-block" dropdown>
                <button class="btn btn-default-ozel btn-block" dropdownToggle> PARA GİRİŞ & ÇIKIŞI EKLE <span class="caret"></span></button>
                <ul dropdownMenu role="menu" aria-labelledby="single-button" class="btn-block">
                  <li role="menuitem"><a class="dropdown-item" href="#"><i class="fa fa-sign-in fa-rotate-90"></i> <span> Para Girişi Ekle</span></a></li>
                  <li role="menuitem"><a class="dropdown-item" href="#"><i class="fa fa-sign-in fa-rotate-270"></i> <span> Para Çıkışı Ekle </span></a></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 m-t-5">
              <div class="btn-group btn-block" dropdown>
                <button class="btn btn-default-ozel btn-block" dropdownToggle> HESAP İŞLEMLERİ <span class="caret"></span></button>
                <ul dropdownMenu role="menu" aria-labelledby="single-button" class="btn-block">
                  <li role="menuitem"><a href="#" class="dropdown-item"><i class="fa fa-edit"></i> <span>Düzenle</span></a></li>
                  <li role="menuitem"><a href="#" class="dropdown-item"><i class="fa fa-trash-o"></i> <span>Sil</span></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- Panel Body -->
        <!-- Panel Footer -->
        <div class="panel-footer">
          <div class="calisan-right-islem-detay-footer-block">
            <div class="calisan-right-islem-detay-footer-text-block">
              <span class="calisan-right-footer-title-text">BAKİYE</span>
              <span class="calisan-right-footer-content-text pull-right">0,00 <i class="fa fa-try"></i></span>
            </div>
          </div>
        </div>
        <!-- Panel Footer -->
      </div>
      <!-- Panel -->

      <!-- Tab -->
      <!-- Panel -->
      <div class="panel panel-light">
        <!-- Panel Body -->
        <div class="panel-body padding-0">
          <!-- Tab -->
          <tabset>
            <!-- Notlar -->
            <tab heading="Notlar" customClass="tab-ozel">
              <div class="tab-page-content">
                <ul class="not-listele-tab">
                  <li class="not-listele-tab-not-ekle-btn"><button class="btn btn-primary-ozel btn-block"><i class="fa fa-plus"></i> Yeni Not</button></li>
                  <li>
                    <a href="#">
                      <!-- İcon -->
                      <div class="tab-page-content-icon-block">
                        <i class="fa fa-commenting"></i>
                      </div>
                      <!-- İcon -->
                      <!-- Text -->
                      <div class="tab-page-content-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad asperiores aut corporis distinctio, dolorum, explicabo fuga neque nisi reiciendis suscipit veniam voluptatem voluptatibus. Consequuntur impedit laborum laudantium sed soluta?</p>
                        <span>12 Aralık 2016 / Ahmet Elçik</span>
                      </div>
                      <!-- Text -->
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <!-- İcon -->
                      <div class="tab-page-content-icon-block">
                        <i class="fa fa-commenting"></i>
                      </div>
                      <!-- İcon -->
                      <!-- Text -->
                      <div class="tab-page-content-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad asperiores aut corporis distinctio, dolorum, explicabo fuga neque nisi reiciendis suscipit veniam voluptatem voluptatibus. Consequuntur impedit laborum laudantium sed soluta?</p>
                        <span>12 Aralık 2016 / Ahmet Elçik</span>
                      </div>
                      <!-- Text -->
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <!-- İcon -->
                      <div class="tab-page-content-icon-block">
                        <i class="fa fa-commenting"></i>
                      </div>
                      <!-- İcon -->
                      <!-- Text -->
                      <div class="tab-page-content-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad asperiores aut corporis distinctio, dolorum, explicabo fuga neque nisi reiciendis suscipit veniam voluptatem voluptatibus. Consequuntur impedit laborum laudantium sed soluta?</p>
                        <span>12 Aralık 2016 / Ahmet Elçik</span>
                      </div>
                      <!-- Text -->
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <!-- İcon -->
                      <div class="tab-page-content-icon-block">
                        <i class="fa fa-commenting"></i>
                      </div>
                      <!-- İcon -->
                      <!-- Text -->
                      <div class="tab-page-content-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad asperiores aut corporis distinctio, dolorum, explicabo fuga neque nisi reiciendis suscipit veniam voluptatem voluptatibus. Consequuntur impedit laborum laudantium sed soluta?</p>
                        <span>12 Aralık 2016 / Ahmet Elçik</span>
                      </div>
                      <!-- Text -->
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <!-- İcon -->
                      <div class="tab-page-content-icon-block">
                        <i class="fa fa-commenting"></i>
                      </div>
                      <!-- İcon -->
                      <!-- Text -->
                      <div class="tab-page-content-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad asperiores aut corporis distinctio, dolorum, explicabo fuga neque nisi reiciendis suscipit veniam voluptatem voluptatibus. Consequuntur impedit laborum laudantium sed soluta?</p>
                        <span>12 Aralık 2016 / Ahmet Elçik</span>
                      </div>
                      <!-- Text -->
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <!-- İcon -->
                      <div class="tab-page-content-icon-block">
                        <i class="fa fa-commenting"></i>
                      </div>
                      <!-- İcon -->
                      <!-- Text -->
                      <div class="tab-page-content-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad asperiores aut corporis distinctio, dolorum, explicabo fuga neque nisi reiciendis suscipit veniam voluptatem voluptatibus. Consequuntur impedit laborum laudantium sed soluta?</p>
                        <span>12 Aralık 2016 / Ahmet Elçik</span>
                      </div>
                      <!-- Text -->
                    </a>
                  </li>
                </ul>
              </div>
            </tab>
            <!-- Notlar -->
          </tabset>
          <!-- Tab -->
        </div>
        <!-- Panel Body -->
      </div>
      <!-- Panel -->
      <!-- Tab -->
    </div>
    <!-- Sağ Taraf -->
  </div>
  <!-- Row -->

</div>