<!-- Sayfa Başlığı -->
<div id="sayfa-baslik" style="position:relative">
  <div class="container-fluid m-l-230">
    <div class="row">
      <!-- Page Header -->
      <div class="page-head-title">
        <h2>Müşteri Detay</h2>
      </div>
      <!-- Page Header -->
      <!-- Breadcumb -->
      <ol class="breadcrumb breadcumb-title">
        <li><a href="#">Anasayfa</a></li>
        <li><a href="#">Müşteriler</a></li>
        <li class="active">Ahmet Elçik</li>
      </ol>
      <!-- Breadcumb -->
    </div>
  </div>
</div>
<!-- Sayfa Başlığı -->


<div class="container-fluid m-l-230 m-t-15">
  <div class="row">
    <!-- Left -->
    <div class="col-md-8">
      <!-- Müşteri Detay -->
      <div class="panel panel-light">
        <!-- Panel Heading -->
        <div class="panel-heading">
          <!-- Panel Left Block -->
          <div class="panel-heading-left-block">
            <span>Müşteri Detay </span>
          </div>
          <!-- Panel Heading Left Block -->
        </div>
        <!-- Panel Heading -->
        <div class="panel-body">
          <div class="row musteri-detay-list-row-block">
            <div class="col-md-3">
              <span>Adı Soyadı</span>
            </div>
            <div class="col-md-1">
              <span>:</span>
            </div>
            <div class="col-md-8">
              <span>Ahmet Elçik</span>
            </div>
          </div>
          <div class="row musteri-detay-list-row-block">
            <div class="col-md-3">
              <span>TC NO</span>
            </div>
            <div class="col-md-1">
              <span>:</span>
            </div>
            <div class="col-md-8">
              <span>29437619562</span>
            </div>
          </div>
          <div class="row musteri-detay-list-row-block">
            <div class="col-md-3">
              <span>Eposta Adresi</span>
            </div>
            <div class="col-md-1">
              <span>:</span>
            </div>
            <div class="col-md-8">
              <span>ahmetelcik35@gmail.com</span>
            </div>
          </div>
          <div class="row musteri-detay-list-row-block">
            <div class="col-md-3">
              <span>Telefon Numarası</span>
            </div>
            <div class="col-md-1">
              <span>:</span>
            </div>
            <div class="col-md-8">
              <span class="musteri-detay-tel-no">(554) 910 98 94</span>
              <span class="musteri-detay-tel-no">(554) 910 98 94</span>
            </div>
          </div>
          <div class="row musteri-detay-list-row-block">
            <div class="col-md-3">
              <span>Faks Numarası</span>
            </div>
            <div class="col-md-1">
              <span>:</span>
            </div>
            <div class="col-md-8">
              <span>(554) 910 98 94</span>
            </div>
          </div>
          <div class="row musteri-detay-list-row-block">
            <div class="col-md-3">
              <span>Kayıt Şube</span>
            </div>
            <div class="col-md-1">
              <span>:</span>
            </div>
            <div class="col-md-8">
              <a href="#" class="musteri-detay-kayit-sube-text">Merkez Şube</a>
            </div>
          </div>
          <div class="row musteri-detay-list-row-block">
            <div class="col-md-3">
              <span>Açık Adres</span>
            </div>
            <div class="col-md-1">
              <span>:</span>
            </div>
            <div class="col-md-8">
              <p>15 Mayıs Mah.Ressam Ahmet Sk Menekşe Apt.Kat : 2 Daire : 5 No : 47 Denizli / Merkez</p>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <!-- Panel Footer Left Block -->
          <div class="panel-footer-left-block">
            <div class="panel-footer-ekleyen-kullanici-block">
              <span>Ekleyen Kullanıcı : <a href="#" class="link-blue-hover">Ahmet Elçik</a></span>
            </div>
          </div>
          <!-- Panel Footer Left Block -->
          <!-- Panel Footer Right Block -->
          <div class="panel-footer-right-block">
            <div class="panel-footer-olusturulma-tarihi-block">
              <span>Oluşturulma Tarihi : 12 Aralık 2016 11:30</span>
            </div>
          </div>
          <!-- Panel Footer Right Block -->
          <div class="clearfix"></div>
        </div>
      </div>
      <!-- Müşteri Detay -->
    </div>
    <!-- Left -->
    <!-- Right -->
    <div class="col-md-4">
      <!-- Panel -->
      <div class="panel panel-light">
        <!-- Panel Body -->
        <div class="panel-body">
          <div class="row">
            <!-- Diğer Button DropDown -->
            <div class="col-md-6">
              <div class="btn-group btn-block" dropdown>
                <button class="btn btn-default-ozel btn-block" dropdownToggle>DİĞER <span class="caret"></span></button>
                <ul dropdownMenu role="menu" aria-labelledby="single-button" class="btn-block">
                  <li role="menuitem"><a class="dropdown-item" href="#">Yeni Maaş / Prim</a></li>
                  <li class="divider dropdown-divider"></li>
                  <li role="menuitem"><a class="dropdown-item" href="#"><i class="fa fa-edit"></i> <span>Düzenle</span></a></li>
                  <li role="menuitem"><a class="dropdown-item" href="#"><i class="fa fa-trash-o"></i> <span>Sil</span></a></li>
                </ul>
              </div>
            </div>
            <!-- Diğer Button DropDown -->
            <!-- Ödeme Ekle -->
            <div class="col-md-6">
              <a href="#" class="btn btn-success-ozel btn-block"><i class="fa fa-sign-in fa-rotate-90"></i> Ödeme Ekle</a>
            </div>
            <!-- Ödeme Ekle -->
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="calisan-detay-kalan-bakiye-block">
                <div class="calisan-detay-kalan-bakiye-text-block">
                  <span class="calisan-detay-kalan-title-text">KALAN</span>
                  <span class="calisan-detay-kalan-bakiye-text">1.500,00 <i class="fa fa-try"></i></span>
                </div>
                <div class="progress" style="margin-bottom: 0;margin-top: 2px;">
                  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Panel Body -->
        <!-- Panel Footer -->
        <div class="panel-footer">
          <div class="calisan-right-islem-detay-footer-block">
            <div class="calisan-right-islem-detay-footer-text-block">
              <span class="calisan-right-footer-title-text">TOPLAM</span>
              <span class="calisan-right-footer-content-text pull-right">2.500,00 <i class="fa fa-try"></i></span>
            </div>
          </div>
        </div>
        <!-- Panel Footer -->
      </div>
      <!-- Panel -->
    </div>
    <!-- Right -->

    <div class="col-md-4">
      <!-- Panel -->
      <div class="panel panel-light">
        <!-- Panel Body -->
        <div class="panel-body padding-0">
          <!-- Tab -->
          <tabset>
            <!-- Ödemeler -->
            <tab heading="Ödemeler" customClass="tab-ozel">
              <div class="tab-page-content">
                <ul class="odeme-listele-tab">
                  <li>
                    <a href="#">
                      <!-- İcon -->
                      <div class="tab-page-content-icon-block">
                        <i class="fa fa-sign-out fa-rotate-90"></i>
                      </div>
                      <!-- İcon -->
                      <!-- Text -->
                      <div class="tab-page-content-text">
                        <p>25,00 <i class="fa fa-try"></i> 'lik Ödeme Gerçekleşti.</p>
                        <span>12 Aralık 2016 / Ahmet Elçik</span>
                      </div>
                      <!-- Text -->
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <!-- İcon -->
                      <div class="tab-page-content-icon-block">
                        <i class="fa fa-sign-out fa-rotate-90"></i>
                      </div>
                      <!-- İcon -->
                      <!-- Text -->
                      <div class="tab-page-content-text">
                        <p>25,00 <i class="fa fa-try"></i> 'lik Ödeme Gerçekleşti.</p>
                        <span>12 Aralık 2016 / Ahmet Elçik</span>
                      </div>
                      <!-- Text -->
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <!-- İcon -->
                      <div class="tab-page-content-icon-block">
                        <i class="fa fa-sign-out fa-rotate-90"></i>
                      </div>
                      <!-- İcon -->
                      <!-- Text -->
                      <div class="tab-page-content-text">
                        <p>25,00 <i class="fa fa-try"></i> 'lik Ödeme Gerçekleşti.</p>
                        <span>12 Aralık 2016 / Ahmet Elçik</span>
                      </div>
                      <!-- Text -->
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <!-- İcon -->
                      <div class="tab-page-content-icon-block">
                        <i class="fa fa-sign-out fa-rotate-90"></i>
                      </div>
                      <!-- İcon -->
                      <!-- Text -->
                      <div class="tab-page-content-text">
                        <p>25,00 <i class="fa fa-try"></i> 'lik Ödeme Gerçekleşti.</p>
                        <span>12 Aralık 2016 / Ahmet Elçik</span>
                      </div>
                      <!-- Text -->
                    </a>
                  </li>
                </ul>
              </div>
            </tab>
            <!-- Ödemeler -->

            <!-- Notlar -->
            <tab heading="Notlar" customClass="tab-ozel">
              <div class="tab-page-content">
                <ul class="not-listele-tab">
                  <li class="not-listele-tab-not-ekle-btn"><button class="btn btn-primary-ozel btn-block"><i class="fa fa-plus"></i> Yeni Not</button></li>
                  <li>
                    <a href="#">
                      <!-- İcon -->
                      <div class="tab-page-content-icon-block">
                        <i class="fa fa-commenting"></i>
                      </div>
                      <!-- İcon -->
                      <!-- Text -->
                      <div class="tab-page-content-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad asperiores aut corporis distinctio, dolorum, explicabo fuga neque nisi reiciendis suscipit veniam voluptatem voluptatibus. Consequuntur impedit laborum laudantium sed soluta?</p>
                        <span>12 Aralık 2016 / Ahmet Elçik</span>
                      </div>
                      <!-- Text -->
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <!-- İcon -->
                      <div class="tab-page-content-icon-block">
                        <i class="fa fa-commenting"></i>
                      </div>
                      <!-- İcon -->
                      <!-- Text -->
                      <div class="tab-page-content-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad asperiores aut corporis distinctio, dolorum, explicabo fuga neque nisi reiciendis suscipit veniam voluptatem voluptatibus. Consequuntur impedit laborum laudantium sed soluta?</p>
                        <span>12 Aralık 2016 / Ahmet Elçik</span>
                      </div>
                      <!-- Text -->
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <!-- İcon -->
                      <div class="tab-page-content-icon-block">
                        <i class="fa fa-commenting"></i>
                      </div>
                      <!-- İcon -->
                      <!-- Text -->
                      <div class="tab-page-content-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad asperiores aut corporis distinctio, dolorum, explicabo fuga neque nisi reiciendis suscipit veniam voluptatem voluptatibus. Consequuntur impedit laborum laudantium sed soluta?</p>
                        <span>12 Aralık 2016 / Ahmet Elçik</span>
                      </div>
                      <!-- Text -->
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <!-- İcon -->
                      <div class="tab-page-content-icon-block">
                        <i class="fa fa-commenting"></i>
                      </div>
                      <!-- İcon -->
                      <!-- Text -->
                      <div class="tab-page-content-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad asperiores aut corporis distinctio, dolorum, explicabo fuga neque nisi reiciendis suscipit veniam voluptatem voluptatibus. Consequuntur impedit laborum laudantium sed soluta?</p>
                        <span>12 Aralık 2016 / Ahmet Elçik</span>
                      </div>
                      <!-- Text -->
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <!-- İcon -->
                      <div class="tab-page-content-icon-block">
                        <i class="fa fa-commenting"></i>
                      </div>
                      <!-- İcon -->
                      <!-- Text -->
                      <div class="tab-page-content-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad asperiores aut corporis distinctio, dolorum, explicabo fuga neque nisi reiciendis suscipit veniam voluptatem voluptatibus. Consequuntur impedit laborum laudantium sed soluta?</p>
                        <span>12 Aralık 2016 / Ahmet Elçik</span>
                      </div>
                      <!-- Text -->
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <!-- İcon -->
                      <div class="tab-page-content-icon-block">
                        <i class="fa fa-commenting"></i>
                      </div>
                      <!-- İcon -->
                      <!-- Text -->
                      <div class="tab-page-content-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad asperiores aut corporis distinctio, dolorum, explicabo fuga neque nisi reiciendis suscipit veniam voluptatem voluptatibus. Consequuntur impedit laborum laudantium sed soluta?</p>
                        <span>12 Aralık 2016 / Ahmet Elçik</span>
                      </div>
                      <!-- Text -->
                    </a>
                  </li>
                </ul>
              </div>
            </tab>
            <!-- Notlar -->
          </tabset>
          <!-- Tab -->
        </div>
        <!-- Panel Body -->
      </div>
      <!-- Panel -->
    </div>

  </div>


  <div class="row">
    <div class="col-md-12">
      <!-- Panel -->
      <div class="panel panel-light" style="border-radius: 5px">
        <!-- Panel Body -->
        <div class="panel-body" style="padding: 0;">
          <div id="kiralama-listele-table-body-block">
            <div class="table-responsive">
              <table class="table">
                <thead>
                <th class="kiralama-listele-table-head-text-first">Araç Bilgisi</th>
                <th class="kiralama-listele-table-head-text">Çıkış Bilgisi</th>
                <th class="kiralama-listele-table-head-text">Dönüş Bilgisi</th>
                <th class="kiralama-listele-table-head-text-last" style="text-align: right">Bakiye</th>
                </thead>
                <tbody>
                <tr>
                  <td class="first-table-cell">
                    <a href="#">
                      <div class="kiralama-listele-table-left-block">
                        <div class="kiralama-listele-table-left-icon-block">
                          <i class="fa fa-car"></i>
                        </div>
                        <div class="kiralama-listele-table-left-arac-marka-adi">
                          <span>Bmw 3 Serisi ( 35 D 8897 )</span>
                        </div>
                        <div class="kiralama-listele-table-left-musteri-adi">
                        <span>
                          Ahmet Elçik
                        </span>
                        </div>
                      </div>
                    </a>
                  </td>
                  <td style="min-width: 170px">
                    <a href="#">
                      <div class="kiralama-listele-table-middle-block">
                        <div class="kiralama-listele-table-middle-cikis-tarihi-block">
                          <span><i class="fa fa-sign-in fa-rotate-270"></i> 05 Mart 2017 11:35</span>
                        </div>
                        <div class="kiralama-listele-table-middle-cikis-sube">
                          <span><i class="fa fa-map-marker"></i> Denizli Merkez</span>
                        </div>
                      </div>
                    </a>
                  </td>
                  <td style="min-width: 260px">
                    <a href="#">
                      <div class="kiralama-listele-table-middle-block">
                        <div class="kiralama-listele-table-middle-donus-tarihi-block">
                          <span><i class="fa fa-sign-in fa-rotate-90"></i> 06 Mart 2017 11:35</span>
                          <span class="kiralama-listele-donus-tarihi-gun-sayisi">( <i class="fa fa-bell"></i> 10 saat sonra )</span>
                        </div>
                        <div class="kiralama-listele-table-middle-donus-sube">
                          <span><i class="fa fa-map-marker"></i> Denizli Merkez</span>
                        </div>
                      </div>
                    </a>
                  </td>
                  <td class="last-table-cell">
                    <a href="#">
                      <div class="kiralama-listele-table-right-block">
                        <div class="kiralama-listele-table-right-kalan-meblag-block">
                          <span>Kalan Meblağ : 25,00 <i class="fa fa-try"></i></span>
                        </div>
                        <div class="kiralama-listele-table-right-genel-toplam-block">
                          <span>Genel Toplam : 100,00 <i class="fa fa-try"></i></span>
                        </div>
                        <div class="kiralama-listele-table-right-odeme-durumu-block">
                          <span><i class="fa fa-minus"></i> ÖDENECEK</span>
                        </div>
                      </div>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td class="first-table-cell">
                    <a href="#">
                      <div class="kiralama-listele-table-left-block">
                        <div class="kiralama-listele-table-left-icon-block">
                          <i class="fa fa-car"></i>
                        </div>
                        <div class="kiralama-listele-table-left-arac-marka-adi">
                          <span>Bmw 3 Serisi ( 35 D 8897 )</span>
                        </div>
                        <div class="kiralama-listele-table-left-musteri-adi">
                        <span>
                          Ahmet Elçik
                        </span>
                        </div>
                      </div>
                    </a>
                  </td>
                  <td>
                    <a href="#">
                      <div class="kiralama-listele-table-middle-block">
                        <div class="kiralama-listele-table-middle-cikis-tarihi-block">
                          <span><i class="fa fa-sign-in fa-rotate-270"></i> 05 Mart 2017 11:35</span>
                        </div>
                        <div class="kiralama-listele-table-middle-cikis-sube">
                          <span><i class="fa fa-map-marker"></i> Denizli Merkez</span>
                        </div>
                      </div>
                    </a>
                  </td>
                  <td>
                    <a href="#">
                      <div class="kiralama-listele-table-middle-block">
                        <div class="kiralama-listele-table-middle-cikis-tarihi-block">
                          <span><i class="fa fa-sign-in fa-rotate-90"></i> 06 Mart 2017 11:35</span>
                        </div>
                        <div class="kiralama-listele-table-middle-cikis-sube">
                          <span><i class="fa fa-map-marker"></i> Denizli Merkez</span>
                        </div>
                      </div>
                    </a>
                  </td>
                  <td class="last-table-cell">
                    <a href="#">
                      <div class="kiralama-listele-table-right-block">
                        <div class="kiralama-listele-table-right-kalan-meblag-block">
                          <span>Kalan Meblağ : 25,00 <i class="fa fa-try"></i></span>
                        </div>
                        <div class="kiralama-listele-table-right-genel-toplam-block">
                          <span>Genel Toplam : 100,00 <i class="fa fa-try"></i></span>
                        </div>
                        <div class="kiralama-listele-table-right-odeme-durumu-block">
                          <span><i class="fa fa-minus"></i> ÖDENECEK</span>
                        </div>
                      </div>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td class="first-table-cell">
                    <a href="#">
                      <div class="kiralama-listele-table-left-block">
                        <div class="kiralama-listele-table-left-icon-block">
                          <i class="fa fa-car"></i>
                        </div>
                        <div class="kiralama-listele-table-left-arac-marka-adi">
                          <span>Bmw 3 Serisi ( 35 D 8897 )</span>
                        </div>
                        <div class="kiralama-listele-table-left-musteri-adi">
                        <span>
                          Ahmet Elçik
                        </span>
                        </div>
                      </div>
                    </a>
                  </td>
                  <td>
                    <a href="#">
                      <div class="kiralama-listele-table-middle-block">
                        <div class="kiralama-listele-table-middle-cikis-tarihi-block">
                          <span><i class="fa fa-sign-in fa-rotate-270"></i> 05 Mart 2017 11:35</span>
                        </div>
                        <div class="kiralama-listele-table-middle-cikis-sube">
                          <span><i class="fa fa-map-marker"></i> Denizli Merkez</span>
                        </div>
                      </div>
                    </a>
                  </td>
                  <td>
                    <a href="#">
                      <div class="kiralama-listele-table-middle-block">
                        <div class="kiralama-listele-table-middle-cikis-tarihi-block">
                          <span><i class="fa fa-sign-in fa-rotate-90"></i> 06 Mart 2017 11:35</span>
                        </div>
                        <div class="kiralama-listele-table-middle-cikis-sube">
                          <span><i class="fa fa-map-marker"></i> Denizli Merkez</span>
                        </div>
                      </div>
                    </a>
                  </td>
                  <td class="last-table-cell">
                    <a href="#">
                      <div class="kiralama-listele-table-right-block">
                        <div class="kiralama-listele-table-right-kalan-meblag-block">
                          <span>Kalan Meblağ : 25,00 <i class="fa fa-try"></i></span>
                        </div>
                        <div class="kiralama-listele-table-right-genel-toplam-block">
                          <span>Genel Toplam : 100,00 <i class="fa fa-try"></i></span>
                        </div>
                        <div class="kiralama-listele-table-right-odeme-durumu-block">
                          <span><i class="fa fa-minus"></i> ÖDENECEK</span>
                        </div>
                      </div>
                    </a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- Panel Body -->
      </div>
      <!-- Panel -->
    </div>
  </div>
</div>




