<!-- Sayfa Başlığı -->
<div id="sayfa-baslik" style="position:relative">
  <div class="container-fluid m-l-230">
    <div class="row">
      <!-- Page Header -->
      <div class="page-head-title">
        <h2>Müşteri Detay</h2>
      </div>
      <!-- Page Header -->
      <!-- Breadcumb -->
      <ol class="breadcrumb breadcumb-title">
        <li><a href="#">Anasayfa</a></li>
        <li><a href="#">Müşteriler</a></li>
        <li class="active">Ahmet Elçik</li>
      </ol>
      <!-- Breadcumb -->
    </div>
  </div>
</div>
<!-- Sayfa Başlığı -->


<div class="container-fluid m-l-230 m-t-15">
  <div class="row">
    <!-- Sol Detay -->
    <div class="col-md-8">
      <!-- Panel -->
      <div class="panel panel-light">
        <!-- Panel Header -->
        <div class="panel-heading">
          <!-- Panel Left Block -->
          <div class="panel-heading-left-block">
            <span >Müşteri Detay </span>
          </div>
          <!-- Panel Heading Left Block -->

        </div>
        <!-- Panel Header -->
        <!-- Panel Body-->
        <div class="panel-body padding-0 p-t-10 p-b-10" style="position: relative">
          <!-- Adi -->
          <div class="row">
            <div class="musteri-detay-list-row">
              <div class="col-md-2">
                <span class="musteri-detay-list-title">Adı</span>
              </div>
              <div class="col-md-1">
                <span>:</span>
              </div>
              <div class="col-md-9 padding-0">
                <span class="musteri-detay-list-content">Ahmet</span>
              </div>
            </div>
          </div>
          <!-- Adi -->
          <!-- Soyadı -->
          <div class="row">
            <div class="musteri-detay-list-row">
              <div class="col-md-2">
                <span class="musteri-detay-list-title">Soyadı</span>
              </div>
              <div class="col-md-1">
                <span>:</span>
              </div>
              <div class="col-md-9 padding-0">
                <span class="musteri-detay-list-content">Elçik</span>
              </div>
            </div>
          </div>
          <!-- Soyadı -->
          <!-- TC NO -->
          <div class="row">
            <div class="musteri-detay-list-row">
              <div class="col-md-2">
                <span class="musteri-detay-list-title">T.C NO</span>
              </div>
              <div class="col-md-1">
                <span>:</span>
              </div>
              <div class="col-md-9 padding-0">
                <span class="musteri-detay-list-content">29437619562</span>
              </div>
            </div>
          </div>
          <!--  TC NO  -->
          <!-- Telefon  -->
          <div class="row">
            <div class="musteri-detay-list-row">
              <div class="col-md-2">
                <span class="musteri-detay-list-title">Telefon No</span>
              </div>
              <div class="col-md-1">
                <span>:</span>
              </div>
              <div class="col-md-9 padding-0">
                <span class="musteri-detay-list-content">(554) 910 98 94</span>
              </div>
            </div>
          </div>
          <!-- Telefon -->
          <!-- Eposta Adresi  -->
          <div class="row">
            <div class="musteri-detay-list-row">
              <div class="col-md-2">
                <span class="musteri-detay-list-title">E-Posta Adresi</span>
              </div>
              <div class="col-md-1">
                <span>:</span>
              </div>
              <div class="col-md-9 padding-0">
                <span class="musteri-detay-list-content">ahmetelcik35@gmail.com</span>
              </div>
            </div>
          </div>
          <!--  Eposta Adresi -->
          <!-- Kayıt Şube -->
          <div class="row">
            <div class="musteri-detay-list-row">
              <div class="col-md-2">
                <span class="musteri-detay-list-title">Şube</span>
              </div>
              <div class="col-md-1">
                <span>:</span>
              </div>
              <div class="col-md-9 padding-0">
                <span class="musteri-detay-list-content"><a href="#" class="a-link-blue">Merkez Şube</a></span>
              </div>
            </div>
          </div>
          <!--  Kayıt Şube  -->
          <!-- İl İlçe -->
          <div class="row">
            <div class="musteri-detay-list-row">
              <div class="col-md-2">
                <span class="musteri-detay-list-title">İl,İlçe</span>
              </div>
              <div class="col-md-1">
                <span>:</span>
              </div>
              <div class="col-md-9 padding-0">
                <span class="musteri-detay-list-content">Denizli / Merkez</span>
              </div>
            </div>
          </div>
          <!-- İl İlçe -->
          <!-- Açık Adres -->
          <div class="row">
            <div class="musteri-detay-list-row">
              <div class="col-md-2">
                <span class="musteri-detay-list-title">Açık Adres</span>
              </div>
              <div class="col-md-1">
                <span>:</span>
              </div>
              <div class="col-md-9 padding-0">
                <span class="musteri-detay-list-content">15 Mayıs Mah.Ressam Ahmet Cevdet Sk. Ayyıldız Apt. Kat : 2 Daire : 5 No : 13 </span>
              </div>
            </div>
          </div>
          <!-- Açık Adresi -->



        </div>
        <!-- Panel Body-->
        <!-- Panel Footer -->
        <div class="panel-footer">
          <div class="musteri-detay-footer-detay">
            <span>Ekleyen Kullanıcı : <a href="#" class="a-link-blue">Ahmet Elçik</a></span>
          </div>
          <div class="musteri-detay-footer-detay-right pull-right">
            <span>Oluşturulma Tarihi : 12 Aralık 2016 10:33</span>
          </div>
        </div>
        <!-- Panel Footer -->
      </div>
      <!-- Panel -->
    </div>
    <!-- Sol Detay -->
    <!-- Sağ -->
    <div class="col-md-4">
      <!-- Sağ Detay -->
      <div class="row">
        <div class="col-md-12">
          <!-- Panel -->
          <div class="panel panel-light">
            <!-- Panel Body-->
            <div class="panel-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="btn-group btn-block" dropdown>
                    <button class="btn btn-default-ozel btn-block" dropdownToggle>DİĞER <span class="caret"></span></button>
                    <ul dropdownMenu role="menu" aria-labelledby="single-button" class="btn-block">
                      <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                      <li role="menuitem" class="active"><a class="dropdown-item" href="#">Another action</a></li>
                      <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                      <li class="divider dropdown-divider"></li>
                      <li role="menuitem"><a class="dropdown-item" href="#"><i class="fa fa-trash-o"></i> <span>Sil</span></a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-6">
                  <a class="btn btn-success-ozel btn-block"><i class="fa fa-sign-out"></i>Ödeme Ekle</a>
                </div>
              </div>
            </div>
            <!-- Panel Body-->
            <!-- PAnel Footer -->
            <div class="panel-footer">
              <div class="musteri-sag-kalan-borc">
                <span class="musteri-sag-kalan-borc-title">KALAN : </span>
                <span class="musteri-sag-kalan-borc-bakiyesi pull-right">250,00 <i class="fa fa-try"></i></span>
              </div>
            </div>
            <!-- PAnel Footer -->
          </div>
          <!-- Panel -->
        </div>
      </div>
      <!-- Sağ Detay -->

      <!-- Sağ Tabs -->
      <div class="row">
        <div class="col-md-12">
          <!-- Panel -->
          <div class="panel panel-benim">
            <!-- Panel Body-->
            <div class="panel-body padding-0">
            <!-- Tab -->
              <div class="tab-ozel">
                <!-- Tab Header-->
                <div class="tab-ozel-header" style="position: relative">
                  <ul class="tab-ozel-header-ul padding-0">
                    <li [ngClass]="{active: tab==='ödemeler'}"><a href="javascript:void(0)" (click)="tab = 'ödemeler'">Ödemeler</a></li>
                    <li [ngClass]="{active: tab==='notlar'}"><a href="javascript:void(0)" (click)="tab = 'notlar'">Notlar</a></li>
                    <li [ngClass]="{active: tab==='kartlar'}"><a href="javascript:void(0)" (click)="tab = 'kartlar'">Kartlar</a></li>
                  </ul>
                  <div class="not-ekle" style="position: absolute;right: 5px;top: 5px;">
                    <a href="javascript:void(0)" (click)="staticModal.show()"  class="btn btn-success-ozel"><i class="fa fa-plus"></i><span>Yeni Not</span></a>
                  </div>
                </div>
                <!-- Tab Header-->
                <!-- Tab Body-->
                <div class="tab-ozel-body">
                  <!-- Tab Box -->
                  <div class="tab-ozel-box" id="odemeler" *ngIf="tab == 'ödemeler'">
                    <!-- İçerik Yoksa -->
                    <div class="tab-ozel-box-bos-veri">
                      <div class="tab-ozel-box-bos-veri-iconu">
                        <i class="fa fa-exclamation-circle"></i>
                      </div>
                    </div>
                    <!-- İçerik Yoksa -->
                    <ul class="padding-0">
                      <!--<li>-->
                        <!--<a href="#">-->
                          <!--<div class="tab-ozel-icon-box">-->
                            <!--<i class="fa fa-sign-out"></i>-->
                          <!--</div>-->
                          <!--<div class="tab-ozel-box-icerik">-->
                            <!--<span>150,00 <i class="fa fa-try"></i> 'lik ödeme gerçekleşti.</span>-->
                            <!--<span class="tab-ozel-box-icerik-alt-bilgi">24 Eylül 2016 07:22 / <a href="#">Ahmet Elçik</a></span>-->
                          <!--</div>-->
                        <!--</a>-->
                      <!--</li>-->
                    </ul>
                  </div>
                  <!-- Tab Box -->

                  <!-- Tab Box -->
                  <div class="tab-ozel-box" id="notlar" *ngIf="tab == 'notlar'">
                    <ul class="padding-0">

                      <app-notlistele *ngFor="let not of this.notlarim" [notData] = "not" (showData)="sayData($event)"></app-notlistele>

                        <!--<li style="position:relative;" *ngFor="let not of this.notlarim">-->
                          <!--<a href="javascript:void(0);" >-->
                            <!--<div class="tab-ozel-icon-box">-->
                              <!--<i class="fa fa-commenting"></i>-->
                            <!--</div>-->
                            <!--<div class="tab-ozel-box-icerik">-->
                              <!--<span class="tab-ozel-box-icerik-not-yazi">{{ not.notum}}</span>-->
                              <!--<span class="tab-ozel-box-icerik-alt-bilgi"> {{ not.eklenme_tarihi_tr }} {{ not.eklenme_saati }} / <a href="javascript:void(0);">{{ not.ekleyen_kullanici_adi_soyadi }} </a> <a href="javascript:void(0);" class="pull-right f-t-14" style="color:#D52B2B"><i class="fa fa-trash-o musterinotsilbtntrash"></i></a> </span>-->
                            <!--</div>-->
                          <!--</a>-->

                        <!--</li>-->

                      <!--<li style="position:relative;">-->
                        <!--<a href="javascript:void(0);" >-->
                          <!--<div class="tab-ozel-icon-box">-->
                            <!--<i class="fa fa-commenting"></i>-->
                          <!--</div>-->
                          <!--<div class="tab-ozel-box-icerik">-->
                            <!--<span class="tab-ozel-box-icerik-not-yazi">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequuntur delectus ex id, incidunt laudantium saepe! Aliquam architecto, atque commodi ea eius enim est, eum harum, nostrum perferendis qui quod.</span>-->
                            <!--<span class="tab-ozel-box-icerik-alt-bilgi">24 Eylül 2016 07:22 / <a href="javascript:void(0);">Ahmet Elçik</a> <a href="javascript:void(0);"   class="pull-right f-t-14" style="color:#D52B2B"><i class="fa fa-trash-o musterinotsilbtntrash"></i></a> </span>-->
                          <!--</div>-->
                        <!--</a>-->
                      <!--</li>-->


                      <!--<li style="position:relative;">-->
                        <!--<a href="javascript:void(0);" >-->
                          <!--<div class="tab-ozel-icon-box">-->
                            <!--<i class="fa fa-commenting"></i>-->
                          <!--</div>-->
                          <!--<div class="tab-ozel-box-icerik">-->
                            <!--<span class="tab-ozel-box-icerik-not-yazi">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequuntur delectus ex id, incidunt laudantium saepe! Aliquam architecto, atque commodi ea eius enim est, eum harum, nostrum perferendis qui quod.</span>-->
                            <!--<span class="tab-ozel-box-icerik-alt-bilgi">24 Eylül 2016 07:22 / <a href="javascript:void(0);">Ahmet Elçik</a> <a href="javascript:void(0);" class="pull-right f-t-14" style="color:#D52B2B"><i class="fa fa-trash-o musterinotsilbtntrash"></i></a> </span>-->
                          <!--</div>-->
                        <!--</a>-->
                      <!--</li>-->

                      <!--<li>-->
                        <!--<a href="#">-->
                          <!--<div class="tab-ozel-icon-box">-->
                            <!--<i class="fa fa-commenting"></i>-->
                          <!--</div>-->
                          <!--<div class="tab-ozel-box-icerik">-->
                            <!--<span class="tab-ozel-box-icerik-not-yazi">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequuntur delectus ex id, incidunt laudantium saepe! Aliquam architecto, atque commodi ea eius enim est, eum harum, nostrum perferendis qui quod.</span>-->
                            <!--<span class="tab-ozel-box-icerik-alt-bilgi">24 Eylül 2016 07:22 / <a href="#">Ahmet Elçik</a></span>-->
                          <!--</div>-->
                        <!--</a>-->
                      <!--</li>-->
                      <!--<li>-->
                        <!--<a href="#">-->
                          <!--<div class="tab-ozel-icon-box">-->
                            <!--<i class="fa fa-commenting"></i>-->
                          <!--</div>-->
                          <!--<div class="tab-ozel-box-icerik">-->
                            <!--<span class="tab-ozel-box-icerik-not-yazi">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequuntur delectus ex id, incidunt laudantium saepe! Aliquam architecto, atque commodi ea eius enim est, eum harum, nostrum perferendis qui quod.</span>-->
                            <!--<span class="tab-ozel-box-icerik-alt-bilgi">24 Eylül 2016 07:22 / <a href="#">Ahmet Elçik</a></span>-->
                          <!--</div>-->
                        <!--</a>-->
                      <!--</li>-->
                      <!--<li>-->
                        <!--<a href="#">-->
                          <!--<div class="tab-ozel-icon-box">-->
                            <!--<i class="fa fa-commenting"></i>-->
                          <!--</div>-->
                          <!--<div class="tab-ozel-box-icerik">-->
                            <!--<span class="tab-ozel-box-icerik-not-yazi">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequuntur delectus ex id, incidunt laudantium saepe! Aliquam architecto, atque commodi ea eius enim est, eum harum, nostrum perferendis qui quod.</span>-->
                            <!--<span class="tab-ozel-box-icerik-alt-bilgi">24 Eylül 2016 07:22 / <a href="#">Ahmet Elçik</a></span>-->
                          <!--</div>-->
                        <!--</a>-->
                      <!--</li>-->
                      <!--<li>-->
                        <!--<a href="#">-->
                          <!--<div class="tab-ozel-icon-box">-->
                            <!--<i class="fa fa-commenting"></i>-->
                          <!--</div>-->
                          <!--<div class="tab-ozel-box-icerik">-->
                            <!--<span class="tab-ozel-box-icerik-not-yazi">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequuntur delectus ex id, incidunt laudantium saepe! Aliquam architecto, atque commodi ea eius enim est, eum harum, nostrum perferendis qui quod.</span>-->
                            <!--<span class="tab-ozel-box-icerik-alt-bilgi">24 Eylül 2016 07:22 / <a href="#">Ahmet Elçik</a></span>-->
                          <!--</div>-->
                        <!--</a>-->
                      <!--</li>-->
                      <!--<li>-->
                        <!--<a href="#">-->
                          <!--<div class="tab-ozel-icon-box">-->
                            <!--<i class="fa fa-commenting"></i>-->
                          <!--</div>-->
                          <!--<div class="tab-ozel-box-icerik">-->
                            <!--<span class="tab-ozel-box-icerik-not-yazi">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequuntur delectus ex id, incidunt laudantium saepe! Aliquam architecto, atque commodi ea eius enim est, eum harum, nostrum perferendis qui quod.</span>-->
                            <!--<span class="tab-ozel-box-icerik-alt-bilgi">24 Eylül 2016 07:22 / <a href="#">Ahmet Elçik</a></span>-->
                          <!--</div>-->
                        <!--</a>-->
                      <!--</li>-->
                    </ul>
                  </div>
                  <!-- Tab Box -->

                </div>
                <!-- Tab Body-->
              </div>
            <!-- Tab -->
            </div>
            <!-- Panel Body-->
          </div>
          <!-- Panel -->
        </div>
      </div>
      <!-- Sağ Tabs -->

    </div>
    <!-- Sağ -->
  </div>

</div>

<!-- Genel Alt Detaylar -->
<div class="container-fluid container-fluid m-l-230 m-t-15">
  <div class="row">

    <div class="col-md-12">
      <table class="table table-primary">
        <thead>
        <tr>
          <td>Araç</td>
          <td>Çıkış Bilgileri</td>
          <td>Teslim Bilgileri</td>
        </tr>
        </thead>ls

        <tbody>
        <tr>
          <td>35 D 8897</td>
          <td>Denizli</td>
          <td>Ankara</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- Genel Alt Detaylar -->



<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Yeni Not</h4>
      </div>
      <div class="modal-body">
        <!-- Form -->
        <form #musteriNotEkleFormRef="ngForm" (ngSubmit)="musteriNotEkleForm(musteriNotEkleFormRef)" novalidate>

          <div class="form-group" [class.has-error]="musteriNotu.invalid && musteriNotu.dirty">
            <label class="control-label" for="inputMusteriNotEkle" style="color: #666;font-weight: 400;">Not</label>
            <textarea name="musteri_notu"  required   class="form-control textarea-musteri-not-ekle" id="inputMusteriNotEkle" placeholder="Notunuz..." #musteriNotu="ngModel" [(ngModel)]="model.musteri_notu"></textarea>
            <p class="help-block" *ngIf="musteriNotu.invalid && musteriNotu.dirty">
              <span [hidden]="!musteriNotu.errors.required">Not zorunludur!</span>
            </p>
          </div>
        </form>
        <!-- Form -->
      </div>
      <div class="panel-footer">
        <div class="pull-right">
          <button type="button" class="btn btn-white-ozel" (click)="staticModal.hide()">İptal</button>
          <button type="button" class="btn btn-success-ozel" (click)="musteriNotEkleForm()" [disabled]="musteriNotu.invalid">Kaydet</button>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
