<!-- Sayfa Başlığı -->
<div id="sayfa-baslik" style="position:relative">
  <div class="container-fluid m-l-230">
    <div class="row">
      <!-- Page Header -->
      <div class="page-head-title">
        <h2>Yeni Ödeme</h2>
      </div>
      <!-- Page Header -->
      <!-- Breadcumb -->
      <ol class="breadcrumb breadcumb-title">
        <li><a href="#">Anasayfa</a></li>
        <li><a href="#">Giderler</a></li>
        <li><a href="#">Ödeme</a></li>
        <li class="active">Yeni</li>
      </ol>
      <!-- Breadcumb -->
    </div>
  </div>
</div>
<!-- Sayfa Başlığı -->

<div class="ahmet">
  ng
</div>

<div class="container-fluid m-l-230 m-t-15">
  <!-- Row -->
  <div class="row">
    <div class="col-md-12">
       <!-- Şube Ekle -->
      <form>
        <!-- Panel -->
        <div class="panel panel-light">
          <!-- Panel Heading -->
          <div class="panel-heading">
          <!-- Panel Left Block -->
            <div class="panel-heading-left-block">
              <span> Yeni Ödeme </span>
            </div>
          <!-- Panel Heading Left Block -->
          </div>
          <!-- Panel Heading -->
          <!-- Panel Body -->
          <div class="panel-body">

          <!-- Ödeme Tarihi -->
          <div class="form-group">
            <label for="GiderOdemeTarihi" class="control-label form-style-ozel-label">Ödeme Tarihi</label>
            <input type="text" class="form-control form-style-ozel" id="GiderOdemeTarihi" value="27/03/2017">
          </div>
          <!-- Ödeme Tarihi -->

        

          <!-- Ödeme Tutarı -->
          <div class="form-group">
            <label for="GiderOdemeTutari" class="control-label form-style-ozel-label">Ödeme Tutarı</label>
            <input type="text" class="form-control form-style-ozel" id="GiderOdemeTutari" value="0,00">
          </div>
          <!-- Ödeme Tutarı -->

          <!-- Gider Ödeme Hesabı -->
           <div class="form-group" >
            <label for="GiderOdemeHesap" class="control-label form-style-ozel-label">Hesap</label>
            <select class="form-control form-style-ozel" id="GiderOdemeHesap">
              <option value="0">Hesap Seçiniz</option>
              <option value="1">Merkez KAsa</option>
              <option value="2">Denizli Merkez Kasa</option>
            </select>
          </div>
          <!-- Gider Ödeme Hesabı -->

          <!-- Açıklama -->
          <div class="form-group">
            <label for="GiderOdemeAciklama" class="control-label form-style-ozel-label">Açıklama</label>
            <textarea class="form-control form-style-ozel" id="GiderOdemeAciklama" placeholder="Açık Adres"></textarea>
          </div>
          <!-- Açıklama -->

          </div>
          <!-- Panel Body -->

          <!-- Panel Footer -->
          <div class="panel-footer">
            <div class="panel-footer-right-block">
              <button class="btn btn-success-ozel btn-lg"><i class="fa fa-cloud-upload"></i> Kaydet</button>
            </div>
            <div class="clearfix"></div>
          </div>
          <!-- Panel Footer -->
        </div>
        <!-- Panel -->

      </form>
       <!-- Şube Ekle -->
    </div>
  </div>
  <!-- Row -->

  

</div>