/* Button */
.btn{
  font-size: 12px;
  &:focus{
    box-shadow: none;
    outline: 0px!important;
  }
}


/* Btn-Default */
.btn-default-ozel{
  background: #ddd;
  border:1px solid #e1e8ed;
  &:hover{
    box-shadow: #d3d3d3
  }
  &:active{
    background-color: #f1f1f1;
  }
}

/* Btn Primary */
.btn-primary-ozel{
  color: #fff;
  background-color: #2973d4;
  border-color: #2973d4;
  &:hover{
    color: #ffffff;
  }
  &:focus{
    color: #fff;
  }
  &:active{
    background-color: #276ecc;
  }
}
