/* Button */
.btn{
  font-size: 12px;
  &:focus{
    box-shadow: none;
    outline: 0px!important;
  }
}


/* Btn-Default */
.btn-default-ozel{
  background: #ddd;
  border:1px solid #e1e8ed;
  & a{
    color: #333!important;
  }
  &:hover{
    box-shadow: #d3d3d3
  }
  &:active{
    background-color: #f1f1f1;
  }

}

/* Btn Primary */
.btn-primary-ozel{
  color: #fff;
  background-color: #4a89dc;
  border-color: #4a89dc;
  &:hover{
    color: #ffffff;
  }
  &:focus{
    color: #fff;
  }
  &:active{
    background-color: #276ecc;
  }
}




/* Btn Success */
.btn-success-ozel{
  color: #fff;
  background-color: #65ba68;
  border-color: #65ba68;
  &:hover{
    color: #ffffff;
  }
  &:focus{
    color: #fff;
  }
  &:active{
    background-color: #5eb762;
  }
}


/* Btn Danger */
.btn-danger-ozel{
  color: #fff;
  background-color: #d9534f;
  border-color: #d9534f;
  &:hover{
    color: #ffffff;
  }
  &:focus{
    color: #fff;
  }
  &:active{
    background-color: #eb2521;
  }
}


/* Btn Danger Outline */
.btn-danger-ozel-outline{
  color: #ef5350;
  background-color: transparent;
  border-color: #ef5350;

  &:hover{
    color: #fff;
    background-color: #ef5350;
    border-color: #ef5350;
  }
  &:focus{
    color: #fff;
    background-color: #ef5350;
    border-color: #ef5350;
  }
  &:active{
    background-color: #eb2521;
  }
}


/* Dropdown Menu */
.dropdown-menu {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.08);
  -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.08);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.08);
  border-radius: 0;
  border-color: #e1e8ed;
  & li > a{
    padding:6px 20px;
  }
  & .active > a{
    background: #4a89dc;
  }

}
