/* Button */
.btn{
  font-size: 13px;
  &:active{
    box-shadow: none;
  }
}

/** Btn Delete */
.btn-delete{
  background: transparent;
  border: 1px solid #ef5350;
  color: #ef5350;
  &:hover{
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
  }
  &:focus{

  }

}

/* Btn Default None */
.btn-default-none{
  background: #f1f1f1;
  border: 1px solid #ddd;
  color: #333;
}
