<!-- Sayfa Başlığı -->
<div id="sayfa-baslik" style="position:relative">
  <div class="container-fluid m-l-230">
    <div class="row">
      <!-- Page Header -->
      <div class="page-head-title">
        <h2>Ödeme Detay</h2>
      </div>
      <!-- Page Header -->
      <!-- Breadcumb -->
      <ol class="breadcrumb breadcumb-title">
        <li><a href="#">Anasayfa</a></li>
        <li><a href="#">Giderler</a></li>
        <li><a href="#">Ödemeler</a></li>
        <li class="active">Detay</li>
      </ol>
      <!-- Breadcumb -->
    </div>
  </div>
</div>
<!-- Sayfa Başlığı -->


<div class="container-fluid m-l-230 m-t-15">
  <!-- Row -->
  <div class="row">
    <!-- Çalışan Detay-->
    <div class="col-md-12">
      <div class="panel panel-light">
        <!-- Panel Heading -->
        <div class="panel-heading">
          <!-- Panel Left Block -->
          <div class="panel-heading-left-block">
            <span> Ödeme Detay </span>
          </div>
          <!-- Panel Heading Left Block -->
        </div>
        <!-- Panel Heading -->
        <div class="panel-body">

          <!-- Ödeme Tutarı -->
          <div class="row musteri-detay-list-row-block">
            <div class="col-md-3">
              <span>Ödeme Tutarı</span>
            </div>
            <div class="col-md-1">
              <span>:</span>
            </div>
            <div class="col-md-8">
              <span>{{ odeme_detay.odeme_tutari }} <i class="fa fa-try"></i> </span>
            </div>
          </div>
          <!-- Ödeme Tutarı -->

          <!-- Ödeme Tarihi -->
          <div class="row musteri-detay-list-row-block">
            <div class="col-md-3">
              <span>Ödeme Tarihi</span>
            </div>
            <div class="col-md-1">
              <span>:</span>
            </div>
            <div class="col-md-8">
              <span>{{ odeme_detay.odeme_tarihi }}</span>
            </div>
          </div>
          <!-- Ödeme Tarihi -->

          <!-- Hesap -->
          <div class="row musteri-detay-list-row-block">
            <div class="col-md-3">
              <span>Hesap</span>
            </div>
            <div class="col-md-1">
              <span>:</span>
            </div>
            <div class="col-md-8">
              <a href="#" class="link-blue-hover">{{ odeme_detay.odeme_yapilan_hesap.hesap_ismi }}</a>
            </div>
          </div>          
          <!-- Hesap -->

          <!-- Açıklama -->
          <div class="row musteri-detay-list-row-block">
            <div class="col-md-3">
              <span>Açıklama</span>
            </div>
            <div class="col-md-1">
              <span>:</span>
            </div>
            <div class="col-md-8">
              <p>{{ odeme_detay.odeme_aciklama }}</p>
            </div>
          </div>      
          <!-- Açıklama -->
          
        </div>
        <div class="panel-footer">
          <!-- Panel Footer Left Block -->
          <div class="panel-footer-left-block">
            <div class="panel-footer-ekleyen-kullanici-block">
              <span>Ekleyen Kullanıcı : <a href="#" class="link-blue-hover">{{ odeme_detay.ekleyen_kullanici.adi_soyadi }}</a></span>
            </div>
          </div>
          <!-- Panel Footer Left Block -->
          <!-- Panel Footer Right Block -->
          <div class="panel-footer-right-block">
            <div class="panel-footer-olusturulma-tarihi-block">
              <span>Oluşturulma Tarihi : {{ odeme_detay.olusturulma_tarihi }}</span>
            </div>
          </div>
          <!-- Panel Footer Right Block -->
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <!-- Çalışan Detay-->
    
  </div>
  <!-- Row -->

</div>