<!-- Sayfa Başlığı -->
<div id="sayfa-baslik" style="position:relative">
  <div class="container-fluid m-l-230">
    <div class="row">
      <!-- Page Header -->
      <div class="page-head-title">
        <h2>Button</h2>
      </div>
      <!-- Page Header -->
      <!-- Breadcumb -->
      <ol class="breadcrumb breadcumb-title">
        <li><a href="#">Anasayfa</a></li>
        <li><a href="#">Müşteriler</a></li>
        <li class="active">Ahmet Elçik</li>
      </ol>
      <!-- Breadcumb -->
    </div>
  </div>
</div>
<!-- Sayfa Başlığı -->


<!-- Genel -->
<div class="container-fluid m-l-230 m-t-15">
  <div class="row">

    <div class="col-md-6">
      <div class="panel panel-light">
        <!-- Panel Heading -->
        <div class="panel-heading">
          <!-- Panel Left Block -->
          <div class="panel-heading-left-block">
            <span> Button </span>
          </div>
          <!-- Panel Heading Left Block -->

        </div>
        <!-- Panel Heading -->
        <div class="panel-body">

          <div class="row">
            <!-- Btn Default Özel -->
            <div class="col-md-12">
              <button class="btn btn-default-ozel btn-lg"> Defaut Large</button>
              <button class="btn btn-default-ozel btn-md"> Defaut Medium</button>
              <button class="btn btn-default-ozel btn-xs"> Defaut xSmall</button>
            </div>
            <!-- Btn Default Özel -->
          </div>

          <div class="row m-t-15">
            <!-- Btn Default Özel -->
            <div class="col-md-12">
              <button class="btn btn-primary-ozel btn-lg"> Primary Large</button>
              <button class="btn btn-primary-ozel btn-md"> Primary Medium</button>
              <button class="btn btn-primary-ozel btn-xs"> Primary xSmall</button>
            </div>
            <!-- Btn Default Özel -->
          </div>

          <div class="row m-t-15">
            <!-- Btn Success Özel -->
            <div class="col-md-12">
              <button class="btn btn-success-ozel btn-lg"> Success Large</button>
              <button class="btn btn-success-ozel btn-md"> Success Medium</button>
              <button class="btn btn-success-ozel btn-xs"> Success xSmall</button>
            </div>
            <!-- Btn Success Özel -->
          </div>

          <div class="row m-t-15">
            <!-- Btn Danger Özel -->
            <div class="col-md-12">
              <button class="btn btn-danger-ozel btn-lg"> Danger Large</button>
              <button class="btn btn-danger-ozel btn-md"> Danger Medium</button>
              <button class="btn btn-danger-ozel btn-xs"> Danger xSmall</button>
            </div>
            <!-- Btn Danger Özel -->
          </div>

          <div class="row m-t-15">
            <!-- Btn Danger-Outline Özel -->
            <div class="col-md-12">
              <button class="btn btn-danger-ozel-outline btn-lg"> DangerOutline Large</button>
              <button class="btn btn-danger-ozel-outline btn-md"> DangerOutline Medium</button>
              <button class="btn btn-danger-ozel-outline btn-xs"> DangerOutline xSmall</button>
            </div>
            <!-- Btn Danger-Outline Özel -->
          </div>

          <div class="row m-t-15">
            <!-- Btn Group -->
            <div class="col-md-12">
              <div class="btn-group m-b">
                <button class="btn btn-danger-ozel"><i class="fa fa-trash-o"></i></button>
                <button class="btn btn-danger-ozel-outline">Sil</button>
              </div>
            </div>
            <!-- Btn Group -->
          </div>






        </div>
        <div class="panel-footer">
          <!-- Panel Footer Left Block -->
          <div class="panel-footer-left-block">
            <span>Ekleyen Kullanıcı : <a href="#">Ahmet Elçik</a></span>
          </div>
          <!-- Panel Footer Left Block -->
          <!-- Panel Footer Right Block -->
          <div class="panel-footer-right-block">
            <!--<div class="btn-group" role="group" aria-label="...">-->
            <!--<button type="button" class="btn btn-default">Left</button>-->
            <!--<button type="button" class="btn btn-default">Middle</button>-->
            <!--<button type="button" class="btn btn-default">Right</button>-->
            <!--</div>-->
          </div>
          <!-- Panel Footer Right Block -->
          <div class="clearfix"></div>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- Genel -->

