<!-- Sayfa Başlığı -->
<div id="sayfa-baslik" style="position:relative">
  <div class="container-fluid m-l-230">
    <div class="row">
        <!-- Page Header -->
        <div class="page-head-title">
          <h2>Kategoriler</h2>
        </div>
        <!-- Page Header -->
      <!-- Breadcumb -->
      <ol class="breadcrumb breadcumb-title">
        <li><a href="#">Anasayfa</a></li>
        <li><a href="#">Kategoriler</a></li>
        <li class="active">Listele</li>
      </ol>
      <!-- Breadcumb -->
    </div>
  </div>
</div>
<!-- Sayfa Başlığı -->


<div class="container-fluid m-l-230 m-t-15">
    <div class="row">
    <div class="col-md-4">
      <!-- Panel -->
      <div class="panel panel-light">
        <!-- Panel Heading -->
        <div class="panel-heading">
          <!-- Panel Left Block -->
          <div class="panel-heading-left-block">
            <span> Gider Kategorileri </span>
          </div>
          <!-- Panel Heading Left Block -->
          <!-- Panel Heading Right Block -->
          <div class="panel-heading-right-block">
            <a routerLink="/kategoriler/gider/yeni" class="btn btn-success-ozel btn-xs"><i class="fa fa-plus"></i> Yeni </a>
          </div>
          <!-- Panel Right Block -->
        </div>
        <!-- Panel Heading -->
        <!-- Panel Body -->
        <div class="panel-body" style="padding: 0">
          <!-- Kategori Listele -->
          <div id="kategori-listele-body-block">
            <ul class="kategori-listele-ul">
              <li *ngFor="let kategori of gider_kategorileri"><a href="#">{{ kategori.kategori_adi }}</a></li>
            </ul>
          </div>
          <!-- Kategori Listele -->
        </div>
        <!-- Panel Body -->
      </div>
      <!-- Panel -->
    </div>

    <div class="col-md-4">
      <!-- Panel -->
      <div class="panel panel-light">
        <!-- Panel Heading -->
        <div class="panel-heading">
          <!-- Panel Left Block -->
          <div class="panel-heading-left-block">
            <span> Araç Gider Kategorileri </span>
          </div>
          <!-- Panel Heading Left Block -->
          <!-- Panel Heading Right Block -->
          <div class="panel-heading-right-block">
            <a routerLink="/kategoriler/aracgider/yeni" class="btn btn-success-ozel btn-xs"><i class="fa fa-plus"></i> Yeni </a>
          </div>
          <!-- Panel Right Block -->
        </div>
        <!-- Panel Heading -->
        <!-- Panel Body -->
        <div class="panel-body" style="padding: 0">
          <!-- Kategori Listele -->
          <div id="kategori-listele-body-block">
            <ul class="kategori-listele-ul">
              <li><a href="#">Bakım</a></li>
              <li><a href="#">Temizlik & Yıkama</a></li>
              <li><a href="#">Yakıt</a></li>
            </ul>
          </div>
          <!-- Kategori Listele -->
        </div>
        <!-- Panel Body -->
      </div>
      <!-- Panel -->
    </div>

    <div class="col-md-4">
      <!-- Panel -->
      <div class="panel panel-light">
        <!-- Panel Heading -->
        <div class="panel-heading">
          <!-- Panel Left Block -->
          <div class="panel-heading-left-block">
            <span> Hizmet Kategorileri </span>
          </div>
          <!-- Panel Heading Left Block -->
          <!-- Panel Heading Right Block -->
          <div class="panel-heading-right-block">
            <a routerLink="/kategoriler/hizmetler/yeni" class="btn btn-success-ozel btn-xs"><i class="fa fa-plus"></i> Yeni </a>
          </div>
          <!-- Panel Right Block -->
        </div>
        <!-- Panel Heading -->
        <!-- Panel Body -->
        <div class="panel-body" style="padding: 0">
          <!-- Kategori Listele -->
          <div id="kategori-listele-body-block">
            <ul class="kategori-listele-ul">
              <li><a href="#">Dahil Hizmetler</a></li>
              <li><a href="#">Ekstralar</a></li>
              <li><a href="#">Sigortalar</a></li>
            </ul>
          </div>
          <!-- Kategori Listele -->
        </div>
        <!-- Panel Body -->
      </div>
      <!-- Panel -->
    </div>
  </div>
</div>
