<!-- Sayfa Başlığı -->
<div id="sayfa-baslik" style="position:relative">
  <div class="container-fluid m-l-230">
    <div class="row">
        <!-- Page Header -->
        <div class="page-head-title">
          <h2>Müşteriler</h2>
        </div>
        <!-- Page Header -->
      <!-- Breadcumb -->
      <ol class="breadcrumb breadcumb-title">
        <li><a href="#">Home</a></li>
        <li><a href="#">Library</a></li>
        <li class="active">Data</li>
      </ol>
      <!-- Breadcumb -->
    </div>
  </div>
</div>
<!-- Sayfa Başlığı -->


<div class="container-fluid m-l-230 m-t-15">
  <div class="row">
    <div class="col-md-12">
      <!-- Müşteri Listele -->
      <div id="musteri-listele-body">
        <!-- Müşteri Listele Header -->
        <div id="musteri-listele-header">
          <div class="musteri-title-baslik pull-left">
            <span>Adi / Şirket</span>
          </div>
          <div class="musteri-title-baslik pull-right">
            <span><i class="fa fa-sort-numeric-desc"></i> Bakiye</span>
          </div>
          <div class="clearfix"></div>
        </div>
        <!-- Müşteri Listele Header -->
        <!-- Müşteri Listele Body -->
        <div id="musteri-listele-list-body">
        <ul class="musteri-list-ul padding-0">
          <li>
            <a routerLink="/musteri/5/detay">
              <div class="musteri-listele-kisa-ad img-circle">
                <span>AE</span>
              </div>
              <div class="musteri-listele-adi-soyadi">
                <span>Ahmet Elçik</span>
              </div>
              <div class="musteri-listele-etiket-tags">
                <span class="musteri-etiket-tags-red">Bireysel</span>
              </div>
              <div class="musteri-listele-bakiyesi">
                <span>10,00 <i class="fa fa-try"></i></span>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="musteri-listele-kisa-ad img-circle">
                <span>AE</span>
              </div>
              <div class="musteri-listele-adi-soyadi">
                <span>Ahmet Elçik</span>
              </div>
              <div class="musteri-listele-etiket-tags">
                <span class="musteri-etiket-tags-green">Kurumsal</span>
              </div>
              <div class="musteri-listele-bakiyesi">
                <span>10,00 <i class="fa fa-try"></i></span>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="musteri-listele-kisa-ad img-circle">
                <span>AE</span>
              </div>
              <div class="musteri-listele-adi-soyadi">
                <span>Ahmet Elçik</span>
              </div>
              <div class="musteri-listele-etiket-tags">
                <span class="musteri-etiket-tags-green">Kurumsal</span>
              </div>
              <div class="musteri-listele-bakiyesi">
                <span>10,00 <i class="fa fa-try"></i></span>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="musteri-listele-kisa-ad img-circle">
                <span>AE</span>
              </div>
              <div class="musteri-listele-adi-soyadi">
                <span>Ahmet Elçik</span>
              </div>
              <div class="musteri-listele-etiket-tags">
                <span class="musteri-etiket-tags-green">Kurumsal</span>
              </div>
              <div class="musteri-listele-bakiyesi">
                <span>10,00 <i class="fa fa-try"></i></span>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="musteri-listele-kisa-ad img-circle">
                <span>AE</span>
              </div>
              <div class="musteri-listele-adi-soyadi">
                <span>Ahmet Elçik</span>
              </div>
              <div class="musteri-listele-etiket-tags">
                <span class="musteri-etiket-tags-green">Kurumsal</span>
              </div>
              <div class="musteri-listele-bakiyesi">
                <span>10,00 <i class="fa fa-try"></i></span>
              </div>
            </a>
          </li>
        </ul>
        </div>
        <!-- Müşteri Listele Body -->
      </div>
      <!-- Müşteri Listele -->
    </div>
  </div>
</div>
