<!-- Sayfa Başlığı -->
<div id="sayfa-baslik" style="position:relative">
  <div class="container-fluid m-l-230">
    <div class="row">
      <!-- Page Header -->
      <div class="page-head-title">
        <h2>Araç Düzenle</h2>
      </div>
      <!-- Page Header -->
      <!-- Breadcumb -->
      <ol class="breadcrumb breadcumb-title">
        <li><a href="#">Anasayfa</a></li>
        <li><a href="#">Araçlar</a></li>
        <li><a href="#">35 D 8897</a></li>
        <li class="active">Düzenle</li>
      </ol>
      <!-- Breadcumb -->
    </div>
  </div>
</div>
<!-- Sayfa Başlığı -->


<div class="container-fluid m-l-230 m-t-15">
  <div class="row">
    <div class="col-md-12">
      <app_arac_duzenle_form_component
        [AracDetay]="fulldata"
        [AracMarkalari]="arac_markalari"
        [AraCekisTipleri]="arac_cekis_tipleri"
        [AracKasaTipleri]="arac_kasa_tipleri"
        [AracMotorHacimleri]="arac_motor_hacimleri"
        [AracVitesTipleri]="arac_vites_tipleri"
        [AracYakitTipleri]="arac_yakit_tipleri"
      ></app_arac_duzenle_form_component>
    </div>
  </div>
</div>



