<!-- Sayfa Başlığı -->
<div id="sayfa-baslik" style="position:relative">
  <div class="container-fluid m-l-230">
    <div class="row">
      <!-- Page Header -->
      <div class="page-head-title">
        <h2>Şube Detay</h2>
      </div>
      <!-- Page Header -->
      <!-- Breadcumb -->
      <ol class="breadcrumb breadcumb-title">
        <li><a href="#">Anasayfa</a></li>
        <li><a href="#">Şube</a></li>
        <li class="active">Ahmet Elçik</li>
      </ol>
      <!-- Breadcumb -->
    </div>
  </div>
</div>
<!-- Sayfa Başlığı -->


<div class="container-fluid m-l-230 m-t-15">
  <!-- Row -->
  <div class="row">
    <!-- Çalışan Detay-->
    <div class="col-md-12">
      <div class="panel panel-light">
        <!-- Panel Heading -->
        <div class="panel-heading">
          <!-- Panel Left Block -->
          <div class="panel-heading-left-block">
            <span> Şube Detay </span>
          </div>
          <!-- Panel Heading Left Block -->
        </div>
        <!-- Panel Heading -->
        <div class="panel-body">
          <!-- Şube Adı -->
          <div class="row musteri-detay-list-row-block">
            <div class="col-md-3">
              <span>Şube Adı</span>
            </div>
            <div class="col-md-1">
              <span>:</span>
            </div>
            <div class="col-md-8">
              <span>Ahmet Elçik</span>
            </div>
          </div>
          <!-- Şube Adı -->

          <!-- Telefon Numarası -->
          <div class="row musteri-detay-list-row-block">
            <div class="col-md-3">
              <span>Telefon Numarası</span>
            </div>
            <div class="col-md-1">
              <span>:</span>
            </div>
            <div class="col-md-8">
              <span>ahmetelcik35@gmail.com</span>
            </div>
          </div>
          <!-- Telefon Numarası -->

          <!-- Açık Adresi -->
          <div class="row musteri-detay-list-row-block">
            <div class="col-md-3">
              <span>Açık Adresi</span>
            </div>
            <div class="col-md-1">
              <span>:</span>
            </div>
            <div class="col-md-8">
              <p>Mehmetçik Mahallesi 1303 Sokak No:10/6 Pamukkale - Denizli</p>
            </div>
          </div>          
          <!-- Açık Adresi -->
          
        </div>
        <div class="panel-footer">
          <!-- Panel Footer Left Block -->
          <div class="panel-footer-left-block">
            <div class="panel-footer-ekleyen-kullanici-block">
              <span>Ekleyen Kullanıcı : <a href="#" class="link-blue-hover">Ahmet Elçik</a></span>
            </div>
          </div>
          <!-- Panel Footer Left Block -->
          <!-- Panel Footer Right Block -->
          <div class="panel-footer-right-block">
            <div class="panel-footer-olusturulma-tarihi-block">
              <span>Oluşturulma Tarihi : 12 Aralık 2016 11:30</span>
            </div>
          </div>
          <!-- Panel Footer Right Block -->
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <!-- Çalışan Detay-->
    
  </div>
  <!-- Row -->

</div>