.musteri-detay-list-row-block{
  padding-bottom: 10px;
  & span{
    color: #616060;
    font-size: 13px;
  }
  & p{
    color: #616060;
    font-size: 13px;
  }
}

.musteri-detay-tel-no{
  display: block;
}

.musteri-detay-kayit-sube-text{
  color: #616060;
  font-size: 13px;
}
