/** Margin Left 230px*/
.m-l-230{
  margin-left:230px;
}

.m-l-5{
  margin-left: 5px;
}

.m-l-10{
  margin-left: 10px;
}

.m-0{
  margin: 0;
}

/* Margin Left 0 */
.m-l-0{
  margin-left: 0;
}

.m-t-1{
  margin-top: 1px;
}
.m-t-2{
  margin-top: 2px;
}
.m-t-3{
  margin-top: 3px;
}
.m-t-4{
  margin-top: 4px;
}
.m-t-5{
  margin-top: 5px;
}

/* Margin Top */
.m-t-5{
  margin-top: 5px;
}

.m-t-10{
  margin-top: 10px;
}

.m-t-15{
  margin-top: 15px;
}

/* Margin Bottom*/
.m-b-5{
  margin-bottom: 5px;
}

.m-b-10{
  margin-bottom: 10px;
}

.m-b-15{
  margin-bottom: 15px;
}

/* Padding */
.padding-0{
  padding: 0;
}

.padding-10{
  padding: 10px;
}

.padding-15{
  padding: 15px;
}

.p-t-10{
  padding-top: 10px;
}

.p-b-10{
  padding-bottom: 10px;
}
