/* You can add global styles to this file, and also import other style files */


@import "assets/css/font-awesome.min.css";
@import "ozel.scss";
@import "app/anasayfa/anasayfa.component.scss";
@import "app/araclar/araclar.component.scss";
@import "app/header/header.component.scss";

//@import "app/musteriler/musteriler.component.scss";

@import "app/solmenu/solmenu.component.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&subset=cyrillic-ext');
@import "scss/font-size";
@import "app/musteri-detay/musteri-detay.component.scss";

/* Panel */
@import "scss/Panel/Panel.scss";
/* Button */
@import "scss/Button/Button";

/* Dropdown */
@import "scss/Dropdown/dropdown.scss";

/* Table */
@import "scss/Table/musteri_listele_table.scss";

/* Sayfa Başlık */
@import "scss/SayfaBaslik/sayfa-baslik.scss";

/* Form */
@import "scss/Form/form.scss";

/* Tab */
@import "scss/Tab/tab.scss";

/* List */
@import "scss/List/list.scss";

/* Kategori Listele */
@import "scss/List/kategoriler.scss";

/* Müşteri Listele */
@import "scss/List/musteri-listele.scss";

/* Şube Listele */
@import "scss/List/sube-listele.scss";

body{
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  margin:0;
  padding:0;
  background-color: #F9F9F9
}
