/* You can add global styles to this file, and also import other style files */


@import "assets/css/font-awesome.min.css";
@import "ozel.scss";

/* Header */
@import "scss/Header/header.scss";
@import "app/solmenu/solmenu.component.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&subset=cyrillic-ext');
@import "scss/font-size";

/* Link */
@import "scss/Link/link.scss";
/* Panel */
@import "scss/Panel/Panel.scss";
/* Button */
@import "scss/Button/Button";

/* Dropdown */
@import "scss/Dropdown/dropdown.scss";

/* Table */
@import "scss/Table/musteri_listele_table.scss";

/* Sayfa Başlık */
@import "scss/SayfaBaslik/sayfa-baslik.scss";

/* Form */
@import "scss/Form/form.scss";

/* Tab */
@import "scss/Tab/tab.scss";

/* List */
@import "scss/List/list.scss";

/* Kategori Listele */
@import "scss/List/kategoriler.scss";

/* Müşteri Listele */
@import "scss/List/musteri-listele.scss";

/* Şube Listele */
@import "scss/List/sube-listele.scss";

/* Araç Listele */
@import "scss/List/arac-listele.scss";

/* Kiralama Listele */
@import "scss/List/kiralama-listele.scss";

/* Müşteri Detay */
@import "scss/MusteriDetay/musteri-detay.scss";

/* Modal */
@import "scss/Modal/modal.scss";
body{
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  margin:0;
  padding:0;
  background-color: #F9F9F9
}


.kalan-bilgisi{
  margin-top: 15px;
  & .kalan-bilgis-text-info{
    color: #797979;
    font-weight: 500;
  }
  & .kalan-bilgi-text-try{
    color: #E37074;
    float: right;
    font-weight: 500;
  }

  & .odenecek-maas{
    color: #999!important;
  }
}

