<!-- Sayfa Başlığı -->
<div id="sayfa-baslik" style="position:relative">
  <div class="container-fluid m-l-230">
    <div class="row">
      <!-- Page Header -->
      <div class="page-head-title">
        <h2>Yeni Çalışan</h2>
      </div>
      <!-- Page Header -->
      <!-- Breadcumb -->
      <ol class="breadcrumb breadcumb-title">
        <li><a href="#">Anasayfa</a></li>
        <li><a href="#">Çalışanlar</a></li>
        <li class="active">Yeni</li>
      </ol>
      <!-- Breadcumb -->
    </div>
  </div>
</div>
<!-- Sayfa Başlığı -->


<div class="container-fluid m-l-230 m-t-15">
  <!-- Row -->
  <div class="row">
    <div class="col-md-12">
        <!-- Çalışan Ekle Component -->
        <app_calisan_ekle_form_component></app_calisan_ekle_form_component>
        <!-- Çalışan Ekle Component -->
    </div>
  </div>
  <!-- Row -->

</div>