/* Panel Scss */
.panel{
  border-radius: 0;
  box-shadow: none;
  border: 1px solid transparent;
}

/* Panel Light */
.panel-light{
  border: 1px solid #e1e8ed;

  & .panel-heading{
    border-bottom: 1px solid #e1e8ed;
  }

  /* Panel Heading Left Block */
  & .panel-heading-left-block{
    display: inline-block;
  }

  /* Panel Heading Right Block */
  & .panel-heading-right-block{
    float:right;
  }

  /* Panel Footer Left Block */
  & .panel-footer-left-block{
    display: inline-block;
  }

  /* Panel Footer Right Blcok */
  & .panel-footer-right-block{
    float:right;
  }
}



/* Çalışan Right İşlem Paneli */
.calisan-right-footer-title-text{
  color: #666;
  font-size: 13px;
  font-weight: 500;
}
.calisan-right-footer-content-text{
  color: #333;
  font-weight: 500;
  font-size: 15px;
}

.calisan-right-islem-detay-footer-text-block{
  padding-bottom: 3px;
}

.calisan-detay-kalan-title-text{
  color: #666;
  font-size: 13px;
  font-weight: 500;
}
.calisan-detay-kalan-bakiye-text{
  float: right;
  color: #8e8e8e;
  font-weight: 500;
  font-size: 15px;
}

.calisan-detay-kalan-bakiye-text-block{
  margin-top: 10px
}

/* Panel Footer Ekleyen Kullanıcı */
.panel-footer-ekleyen-kullanici-block{
  & span{
    color: #777;
    font-size: 13px;
    & a{
      color: #666;
      font-size: 13px;
      text-decoration: none;
    }
  }
}

/* Panel Footer Oluşturulma Tarihi */
.panel-footer-olusturulma-tarihi-block{
  color: #777;
  font-size: 13px;
}
