<!-- Sayfa Başlığı -->
<div id="sayfa-baslik" style="position:relative">
  <div class="container-fluid m-l-230">
    <div class="row">
      <!-- Page Header -->
      <div class="page-head-title">
        <h2>Panel</h2>
      </div>
      <!-- Page Header -->
      <!-- Breadcumb -->
      <ol class="breadcrumb breadcumb-title">
        <li><a href="#">Anasayfa</a></li>
        <li><a href="#">Müşteriler</a></li>
        <li class="active">Ahmet Elçik</li>
      </ol>
      <!-- Breadcumb -->
    </div>
  </div>
</div>
<!-- Sayfa Başlığı -->


<!-- Genel -->
<div class="container-fluid m-l-230 m-t-15">
  <div class="row">

    <div class="col-md-12">
      <div class="panel panel-light">
        <!-- Panel Heading -->
        <div class="panel-heading">
            <!-- Panel Left Block -->
            <div class="panel-heading-left-block">
              <span>Müşteri Detay </span>
            </div>
            <!-- Panel Heading Left Block -->
            <!-- Panel Heading Right Block -->
            <div class="panel-heading-right-block">
              <a href="#" class="btn btn-danger btn-xs">Button 1</a>
              <a href="#" class="btn btn-success btn-xs">Button 2</a>
            </div>
            <!-- Panel Right Block -->
        </div>
        <!-- Panel Heading -->
        <div class="panel-body">
         <p>
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque dolor ea esse facilis nemo nisi nulla possimus quam quo sequi! Cumque dolor ducimus expedita nihil recusandae rem repudiandae sint voluptas?
         </p>
        </div>
        <div class="panel-footer">
          <!-- Panel Footer Left Block -->
          <div class="panel-footer-left-block">
            <span>Ekleyen Kullanıcı : <a href="#" class="link-blue-hover">Ahmet Elçik</a></span>
          </div>
          <!-- Panel Footer Left Block -->
          <!-- Panel Footer Right Block -->
          <div class="panel-footer-right-block">
            <!--<div class="btn-group" role="group" aria-label="...">-->
              <!--<button type="button" class="btn btn-default">Left</button>-->
              <!--<button type="button" class="btn btn-default">Middle</button>-->
              <!--<button type="button" class="btn btn-default">Right</button>-->
            <!--</div>-->
          </div>
          <!-- Panel Footer Right Block -->
          <div class="clearfix"></div>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- Genel -->

