<!-- Sayfa Başlığı -->
<div id="sayfa-baslik" style="position:relative">
  <div class="container-fluid m-l-230">
    <div class="row">
      <!-- Page Header -->
      <div class="page-head-title">
        <h2>Araç Ekle</h2>
      </div>
      <!-- Page Header -->
      <!-- Breadcumb -->
      <ol class="breadcrumb breadcumb-title">
        <li><a href="#">Anasayfa</a></li>
        <li><a href="#">Araçlar</a></li>
        <li class="active">Yeni</li>
      </ol>
      <!-- Breadcumb -->
    </div>
  </div>
</div>
<!-- Sayfa Başlığı -->


<div class="container-fluid m-l-230 m-t-15">

  <!-- Araç Ekle -->
  <div class="row">
    <div class="col-md-12">
      <!-- Panel -->
      <div class="panel panel-light">
        <!-- Panel Heading -->
        <div class="panel-heading">
          <!-- Panel Left Block -->
          <div class="panel-heading-left-block">
            <span> Araç Ekle </span>
          </div>
          <!-- Panel Heading Left Block -->
        </div>
        <!-- Panel Heading -->
        <!-- Panel Body -->
        <div class="panel-body">
          Araç Plaka : {{ arac_model.arac_plaka }}
          Araç Marka : {{ arac_model.arac_marka }}
          Araç Modeli : {{ arac_model.arac_modeli }}
          <form>
            <!-- Araç Plaka -->
            <div class="form-group">
              <label for="aracPlakaLabel" class="control-label form-style-ozel-label">Araç Plaka</label>
              <input type="text" class="form-control form-style-ozel" id="aracPlakaLabel" placeholder="Araç Plaka" name="arac_plaka" [(ngModel)]="arac_model.arac_plaka" >
            </div>
            <!-- Araç Plaka -->

            <!-- Araç Marka -->
            <div class="form-group">
              <label class="control-label form-style-ozel-label">Araç Marka</label>

              <select class="form-control form-style-ozel" name="arac_marka" [(ngModel)]="arac_model.arac_marka" >
                <option [value]="default">Araç Marka Seçiniz!</option>
                <option *ngFor="let arac_marka of arac_markalari" value="{{ arac_marka.id }}">{{ arac_marka.marka_adi }}</option>
              </select>
            </div>
            <!-- Araç Marka -->

            <!-- Araç Modeli -->
            <div class="form-group">
              <label class="control-label form-style-ozel-label">Araç Modeli</label>
              <select class="form-control form-style-ozel" name="arac_modeli" [(ngModel)]="arac_model.arac_modeli">
                <option [value]="default">Araç Modeli Seçiniz!</option>
                <option *ngFor="let arac_model of arac_modelleri" [value]="arac_model.id">{{ arac_model.model_adi }}</option>
              </select>
            </div>
            <!-- Araç Modeli -->



          </form>
        </div>
        <!-- Panel Body -->
        <!-- Panel Footer -->
        <div class="panel-footer">
          <div class="panel-footer-right-block">
              <button class="btn btn-success-ozel btn-lg"><i class="fa fa-cloud-upload"></i> Kaydet</button>
          </div>
          <div class="clearfix"></div>
        </div>
        <!-- Panel Footer -->
      </div>
      <!-- Panel -->
    </div>
  </div>
  <!-- Araç Ekle -->
</div>



