<!-- Sayfa Başlığı -->
<div id="sayfa-baslik" style="position:relative">
  <div class="container-fluid m-l-230">
    <div class="row">
      <!-- Page Header -->
      <div class="page-head-title">
        <h2>Araç Ekle</h2>
      </div>
      <!-- Page Header -->
      <!-- Breadcumb -->
      <ol class="breadcrumb breadcumb-title">
        <li><a href="#">Anasayfa</a></li>
        <li><a href="#">Araçlar</a></li>
        <li class="active">Yeni</li>
      </ol>
      <!-- Breadcumb -->
    </div>
  </div>
</div>
<!-- Sayfa Başlığı -->


<div class="container-fluid m-l-230 m-t-15">

  <!-- Araç Ekle -->
  <div class="row">
    <div class="col-md-12">

      <div *ngIf="loading">
        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
        <span class="sr-only">Loading...</span>
      </div>
      <app_arac_ekle_form_component
        [AracMarkalari]="arac_markalari"
        [AraCekisTipleri]="arac_cekis_tipleri"
        [AracKasaTipleri]="arac_kasa_tipleri"
        [AracMotorHacimleri]="arac_motor_hacimleri"
        [AracVitesTipleri]="arac_vites_tipleri"
        [AracYakitTipleri]="arac_yakit_tipleri"
        [FirmaSubeleri]="firma_subeleri"
      ></app_arac_ekle_form_component>
    </div>
  </div>
  <!-- Araç Ekle -->
</div>



