<!-- Sayfa Başlığı -->
<div id="sayfa-baslik" style="position:relative">
  <div class="container-fluid m-l-230">
    <div class="row">
      <!-- Page Header -->
      <div class="page-head-title">
        <h2>Gider Listele</h2>
      </div>
      <!-- Page Header -->
      <!-- Breadcumb -->
      <ol class="breadcrumb breadcumb-title">
        <li><a href="#">Anasayfa</a></li>
        <li><a href="#">Giderler</a></li>
        <li class="active">Listele</li>
      </ol>
      <!-- Breadcumb -->
    </div>
  </div>
</div>
<!-- Sayfa Başlığı -->


<div class="container-fluid m-l-230 m-t-15">


  <!-- Fiş/Fatura Ekle -->
  <div class="row">
    <div class="col-md-12">
      <div class="btn-group pull-right" role="group" aria-label="...">
        <a routerLink="/hesaplar/banka/yeni" class="btn btn-success-ozel"> HIZLI FİŞ/FATURA</a>
        <a routerLink="/hesaplar/kasa/yeni" class="btn btn-success-ozel"> DETAYLI FİŞ/FATURA</a>
      </div>
    </div>
  </div>
  <!-- Fiş/Fatura Ekle -->

  <div class="row m-t-15">
    <div class="col-md-12">
      <!-- Panel -->
      <div class="panel panel-light" style="border-radius: 5px">
        <!-- Panel Body -->
        <div class="panel-body" style="padding: 0;">
          <div id="gider-listele-body-table">
            <div class="table-responsive">

              <table class="table">
                <thead>
                <th class="gider-listele-table-baslik-text" style="padding-left: 20px;padding-bottom: 20px;padding-top: 20px">Açıklama</th>
                <th class="gider-listele-table-baslik-text">Düzenleme Tarihi</th>
                <th class="gider-listele-table-baslik-text gider-listele-right-baslik-text" style="padding-right: 20px;padding-bottom: 20px;padding-top: 20px"> <i class="fa fa-sort-numeric-desc"></i> Bakiye</th>
                </thead>
                <tbody>
                <tr>
                  <td class="first-table-cell">
                    <a routerLink="/giderler/5/detay">
                      <div class="gider-listele-table-left-block">
                        <div class="gider-listele-table-left-icon-block">
                          <i class="fa fa-file" style="padding: 14px;background-color: #ddd;border-radius: 9px;font-size: 20px;color: #adadad;"></i>
                        </div>
                        <div class="gider-listele-table-aciklama-text">
                          <span>Deneme Gider Açıklama</span>
                        </div>
                        <div class="gider-listele-table-kategori-block">
                          <span>Araç Giderleri</span>
                        </div>
                      </div>
                    </a>
                  </td>
                  <td>
                    <a routerLink="/giderler/5/detay">
                      <div class="gider-listele-table-middle-block">
                        <div class="gider-listele-table-fatura-tarihi">
                          <span>12 Ocak 2016</span>
                          <span class="kalan-gun-text">( <i class="fa fa-bell"></i> 32 gün sonra )</span>
                        </div>
                        <div class="gider-listele-table-gider-turu-block">
                          <span>Para Çıkışı</span>
                        </div>
                        <div class="gider-listele-table-gider-sube-block">
                          <span><i class="fa fa-map-marker"></i> Denizli Merkez</span>
                        </div>
                      </div>
                    </a>
                  </td>
                  <td style="text-align: right;">
                    <a routerLink="/giderler/5/detay">
                      <div class="gider-listele-table-right-block">
                        <div class="gider-listele-table-kalan-meblag-block">
                          <span>Kalan Meblağ : <b>90,00</b> <i class="fa fa-try"></i></span>
                        </div>
                        <div class="gider-listele-table-genel-toplam-block">
                          <span>Genel Toplam : <b>100,00</b> <i class="fa fa-try"></i></span>
                        </div>
                        <div class="gider-listele-table-odeme-durumu-block">
                          <span class="odenecek"><i class="fa fa-minus"></i> ÖDENECEK</span>
                        </div>
                        <!--<div class="gider-listele-table-odeme-durumu-block">-->
                        <!--<span class="odendi"><i class="fa fa-check-circle"></i> ÖDENDİ</span>-->
                        <!--</div>-->
                      </div>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td class="first-table-cell">
                    <a href="#">
                      <div class="gider-listele-table-left-block">
                        <div class="gider-listele-table-left-icon-block">
                          <i class="fa fa-file" style="padding: 14px;background-color: #ddd;border-radius: 9px;font-size: 20px;color: #adadad;"></i>
                        </div>
                        <div class="gider-listele-table-aciklama-text">
                          <span>Deneme Gider Açıklama</span>
                        </div>
                        <div class="gider-listele-table-kategori-block">
                          <span>Araç Giderleri</span>
                        </div>
                      </div>
                    </a>
                  </td>
                  <td>
                    <a href="#">
                      <div class="gider-listele-table-middle-block">
                        <div class="gider-listele-table-fatura-tarihi">
                          <span>12 Ocak 2016</span>
                          <span class="kalan-gun-text">( <i class="fa fa-bell"></i> 32 gün sonra )</span>
                        </div>
                        <div class="gider-listele-table-gider-turu-block">
                          <span>Para Çıkışı</span>
                        </div>
                        <div class="gider-listele-table-gider-sube-block">
                          <span><i class="fa fa-map-marker"></i> Denizli Merkez</span>
                        </div>
                      </div>
                    </a>
                  </td>
                  <td style="text-align: right;">
                    <a href="#">
                      <div class="gider-listele-table-right-block">
                        <div class="gider-listele-table-kalan-meblag-block">
                          <span>Kalan Meblağ : <b>90,00</b> <i class="fa fa-try"></i></span>
                        </div>
                        <div class="gider-listele-table-genel-toplam-block">
                          <span>Genel Toplam : <b>100,00</b> <i class="fa fa-try"></i></span>
                        </div>
                        <div class="gider-listele-table-odeme-durumu-block">
                          <span class="odenecek"><i class="fa fa-minus"></i> ÖDENECEK</span>
                        </div>
                        <!--<div class="gider-listele-table-odeme-durumu-block">-->
                        <!--<span class="odendi"><i class="fa fa-check-circle"></i> ÖDENDİ</span>-->
                        <!--</div>-->
                      </div>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td class="first-table-cell">
                    <a href="#">
                      <div class="gider-listele-table-left-block">
                        <div class="gider-listele-table-left-icon-block">
                          <i class="fa fa-file" style="padding: 14px;background-color: #ddd;border-radius: 9px;font-size: 20px;color: #adadad;"></i>
                        </div>
                        <div class="gider-listele-table-aciklama-text">
                          <span>Deneme Gider Açıklama</span>
                        </div>
                        <div class="gider-listele-table-kategori-block">
                          <span>Araç Giderleri</span>
                        </div>
                      </div>
                    </a>
                  </td>
                  <td>
                    <a href="#">
                      <div class="gider-listele-table-middle-block">
                        <div class="gider-listele-table-fatura-tarihi">
                          <span>12 Ocak 2016</span>
                          <span class="kalan-gun-text">( <i class="fa fa-bell"></i> 32 gün sonra )</span>
                        </div>
                        <div class="gider-listele-table-gider-turu-block">
                          <span>Para Çıkışı</span>
                        </div>
                        <div class="gider-listele-table-gider-sube-block">
                          <span><i class="fa fa-map-marker"></i> Denizli Merkez</span>
                        </div>
                      </div>
                    </a>
                  </td>
                  <td style="text-align: right;">
                    <a href="#">
                      <div class="gider-listele-table-right-block">
                        <div class="gider-listele-table-kalan-meblag-block">
                          <span>Kalan Meblağ : <b>90,00</b> <i class="fa fa-try"></i></span>
                        </div>
                        <div class="gider-listele-table-genel-toplam-block">
                          <span>Genel Toplam : <b>100,00</b> <i class="fa fa-try"></i></span>
                        </div>
                        <div class="gider-listele-table-odeme-durumu-block">
                          <span class="odenecek"><i class="fa fa-minus"></i> ÖDENECEK</span>
                        </div>
                        <!--<div class="gider-listele-table-odeme-durumu-block">-->
                        <!--<span class="odendi"><i class="fa fa-check-circle"></i> ÖDENDİ</span>-->
                        <!--</div>-->
                      </div>
                    </a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- Panel Body -->
      </div>
      <!-- Panel -->
    </div>
  </div>

</div>



