/* List Header */
.list-header-block{
  padding: 20px;

  /* Left Block */
  & .list-header-left-block{
    display: inline-block;
    & span{
      color: #999;
      font-weight: 500;
      letter-spacing: 0.4px
    }
  }

  /* Right Block */
  & .list-header-right-block{
    display: inline-block;
    float: right;
    & span{
      color: #999;
      font-weight: 500;
      letter-spacing: 0.4px;
    }
  }
}


/* Hesap Listele */
#hesap-listele-body-block{
  & ul.hesap-listele-ul{
    list-style: none;
    padding: 0;
    & li{
      border-bottom: 1px solid #f6f6f6;
      &:hover{
        background: #f5f5f5;
      }
      & a{
        display: block;
        padding-bottom: 10px;
        padding-top: 10px;
        padding-left: 10px;
        &:hover{
          text-decoration: none;
          background: #f5f5f5;
        }
      }
    }

    /* Left Block */
    & .hesap-listele-left-block{
      display: inline-block;
    }
    /* İcon Block */
    & .hesap-listele-icon-block{
      display: inline-block;
      float: left;
      position: relative;
      height: 50px;
      width: 50px;
      background: #e2e2e2;
      border-radius: 25px;
      margin-right: 7px;
      & i{
        color: #adadad;
        font-size: 23px;
        position: absolute;
        top: 11px;
        left: 12px;

      }
    }
    /* Hesap İsmi Blcok */
    & .hesap-listele-ismi-adi{
      display: inline-block;
      line-height: 50px;
      & span{
        color: #888;
        font-size: 17px;
        font-weight: 300;
        display: block;
      }
    }

    /* Right Block */
    & .hesap-listele-right-block{
      float: right;
      padding-right: 20px;
    }

    & .hesap-listele-bakiye{
      line-height: 50px;
      & span{
        color: #888;
        font-weight: 500;
        font-size: 16px;
      }
    }
  }
}


/* Araç Listele */
#arac-listele-body-block{
  & ul.arac-listele-ul{
    list-style: none;
    padding: 0;
    & li{
      border-bottom: 1px solid #f6f6f6;
      &:hover{
        background: #f5f5f5;
      }
      & a{
        display: block;
        padding-bottom: 10px;
        padding-top: 10px;
        padding-left: 10px;
        &:hover{
          text-decoration: none;
          background: #f5f5f5;
        }
      }
    }

    /* Left Block */
    & .arac-listele-left-block{
      display: inline-block;
    }
    /* İcon Block */
    & .arac-listele-icon-block{
      display: inline-block;
      float: left;
      position: relative;
      height: 50px;
      width: 50px;
      background: #e2e2e2;
      border-radius: 25px;
      margin-right: 7px;
      & i{
        color: #adadad;
        font-size: 23px;
        position: absolute;
        top: 12px;
        left: 12px;

      }
    }
    /* Hesap İsmi Blcok */
    & .arac-listele-ismi-adi{
      display: inline-block;
      margin-top: 5px;
      & span{
        color: #888;
        font-size: 17px;
        font-weight: 300;
        display: block;
      }

      & .arac-listele-arac-plaka{
        color: #999;
        font-size: 13px;
      }
    }

    /* Right Block */
    & .arac-listele-right-block{
      float: right;
      padding-right: 20px;
    }

    & .arac-listele-bakiye{
      line-height: 50px;
      & span{
        color: #888;
        font-weight: 500;
        font-size: 16px;
      }
    }

    .arac-listele-arac-konumu{
      line-height: 50px;
      & span{
        color: #888;
        font-weight: 500;
        font-size: 14px;
      }
    }
  }
}


/* Gider Listele */
#gider-listele-body-block{
  & ul.gider-listele-ul{
    list-style: none;
    padding: 0;
    & li{
      border-bottom: 1px solid #f6f6f6;
      &:hover{
        background: #f5f5f5;
      }
      & a{
        display: block;
        padding-bottom: 10px;
        padding-top: 10px;
        padding-left: 10px;
        &:hover{
          text-decoration: none;
          background: #f5f5f5;
        }
      }
    }

    /* Left Block */
    & .gider-listele-left-block{
      display: inline-block;
    }
    /* İcon Block */
    & .gider-listele-icon-block{
      display: inline-block;
      float: left;
      position: relative;
      height: 50px;
      width: 50px;
      background: #e2e2e2;
      border-radius: 10px;
      margin-right: 7px;
      & i{
        color: #adadad;
        font-size: 27px;
        position: absolute;
        top: 11px;
        left: 14px;

      }
    }
    /* Hesap İsmi Blcok */
    & .gider-listele-aciklama-block{
      display: inline-block;
      margin: 2px;
      & span{
        color: #888;
        font-size: 14px;
        font-weight: 300;
        display: block;
      }

      & .gider-listele-kategorisi{
        color: #999;
        font-size: 13px;
        padding: 3px;
        border-radius: 3px;
        display: inline-block;
        background: #ddd;
      }
    }

    /* Right Block */
    & .gider-listele-right-block{
      float: right;
      padding-right: 20px;
    }

    & .gider-listele-bakiye-bilgisi{

    }

    .gider-listele-kalan-meblag-block{
      & span{
        color: #EC5549;
        font-weight: 400;
        font-size: 14px;
        & b{
          font-weight: 500;
        }
      }
    }
    & .gider-listele-genel-toplam-block{
      & span{
        color: #999593;
        font-weight: 400;
        font-size: 14px;
        & b{
          font-weight: 500;
        }
      }
    }
    & .gider-listele-odeme-durum-bilgisi-block{
      text-align: right;
      & span{
        color: #999593;
        font-weight: 400;
        font-size: 14px;
        & b{
          font-weight: 500;
        }
      }
      & .gider-listele-odeme-durumu-odendi{
        color: #65ba68;
      }


    }
  }
}



.odeme-durumu-red-icon{
  color: rgb(255, 116, 116)!important;
}
.odeme-durumu-green-icon{
  color: #7cd03f!important;
}
.gider-listele-icon-odeme-durumu-kisa{

  position: absolute!important;
  left: 37px!important;
  font-size: 13px!important;
  top: 2px!important;
}


/* Gider Listele Body  Table */
#gider-listele-body-table{

  & table tr{
    &:hover{
      background: #f4f4f4;
    }
    & a{
      text-decoration: none;
    }
  }
  & .gider-listele-table-baslik-text{
    color: #999;
    font-weight: 500;
  }
  & .gider-listele-right-baslik-text{
    text-align: right;
  }
  & .gider-listele-table-baslik-block{
    padding: 20px;
  }

  & .gider-listele-table-left-icon-block{
    display: inline-block;
    float: left;
    margin-right: 7px;
  }

  & .gider-listele-table-aciklama-text{
    display: inline-block;
    font-weight: 100;
    color: #777;
    font-size: 14px;
  }

  & .gider-listele-table-kategori-block{
    margin-top: 7px;
    & span{
      background: #ddd;
      padding: 4px;
      border-radius: 5px;
      font-size: 12px;
      color: #999;
    }
  }

  & .gider-listele-table-fatura-tarihi{
     & span{
       font-weight: 100;
       color: #777;
       font-size: 14px;
     }
    & .kalan-gun-text{
      font-size: 12px;
      color: #EC5549;
    }
  }

  & .gider-listele-table-right-block{
    float: right;
  }
  & .gider-listele-table-gider-turu-block{
    & span{
      font-weight: 100;
      color: #777;
      font-size: 14px;
    }
  }
  & .gider-listele-table-gider-sube-block{
    & span{
      font-weight: 100;
      color: #777;
      font-size: 14px;
    }
  }

  & .gider-listele-table-kalan-meblag-block{
    text-align: left;
    & span{
      color: #EC5549;
      & b{
        font-weight: 500;
      }
    }
  }
  & .gider-listele-table-genel-toplam-block{
    text-align: left;
    & span{
      color: #777;
      & b{
        font-weight: 500;
      }
    }
  }
  & .gider-listele-table-odeme-durumu-block{
    & span{
      font-weight: 500;
      font-size: 13px;
    }
    & .odendi{
      color: #56BD81!important;
    }
    & .odenecek{
      color: #999!important;
    }
  }
}


